			    <footer class="footer">
			        <div class="container-fluid">
			            <p class="copyright pull-right">
			                &copy; {{ "now"|date("Y") }} Lowe's Companies Inc.
			            </p>
			        </div>
			    </footer>
			</div>
		</div>
	</body>

	<script src="{{asset_url}}/js/jquery-3.1.0.min.js"></script>
	<script src="{{asset_url}}/js/bootstrap.min.js"></script>
	<script src="{{asset_url}}/js/bootstrap-checkbox-radio-switch.js"></script>
	<script src="{{asset_url}}/js/chartist.min.js"></script>
    <script src="{{asset_url}}/js/bootstrap-notify.js"></script
	<script src="{{asset_url}}/js/light-bootstrap-dashboard.js"></script>
	<script src="{{asset_url}}/js/cms.js"></script>

</html>