<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>LiftOff CMS - Lowe's</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" async defer>
    <link href="{{asset_url}}/css/animate.min.css" rel="stylesheet"/>
    <link href="{{asset_url}}/css/cms.css" rel="stylesheet"/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{{asset_url}}/css/iconstroke.css" rel="stylesheet" />

</head>
<body>

<div class="wrapper">

	{{ include('cms/partials/sidebar.twig') }}
	
	<div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
		        {% if auth is not empty %}
	                <div id="navbar" class="collapse navbar-collapse">
	                    <ul class="nav navbar-nav navbar-right">
	                        <li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									View Site
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a href="{{base_url}}" target="_blank">LiftOff (Parent)</a></li>
									<li class="divider"></li>
									<li><a href="{{base_url}}/smartspot" target="_blank">SmartHome</a></li>
								</ul>
	                        </li>
	                        <li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									Account
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a href="{{base_url}}/cms/account-settings">Settings</a></li>
									<li class="divider"></li>
									<li><a href="{{base_url}}/cms/auth/logout">Logout</a></li>
								</ul>
	                        </li>
	                    </ul>
	                </div>
	            {% endif %}
            </div>
        </nav>
        
        <div id="msgcontainer" class="col-md-8 col-md-offset-2 animate"></div>