<div class="sidebar" data-color="blue" data-image="{{asset_url}}/img/cms-sidebar.jpg">
	<div class="sidebar-wrapper">
        <div class="logo">
            <a href="{{base_url}}/cms" class="simple-text">
                LIFTOFF CMS
            </a>
        </div>

        <ul class="nav">
	        {% if auth is not empty %}
	            <li {% if current_url == '/cms' %}class="active"{% endif %}>
	                <a href="{{base_url}}/cms">
	                    <i class="pe-7s-home"></i>
	                    <p>Dashboard</p>
	                </a>
	            </li>
	            <li {% if current_url == '/cms/pages' %}class="active"{% endif %}>
	                <a href="{{base_url}}/cms/pages">
	                    <i class="pe-7s-news-paper"></i>
	                    <p>Pages</p>
	                </a>
	            </li>
	            <li {% if current_url == '/cms/products' %}class="active"{% endif %}>
	                <a href="{{base_url}}/cms/products">
	                    <i class="pe-7s-science"></i>
	                    <p>Products</p>
	                </a>
	            </li>
	            {% if auth.permission_level > 1 %}
		            <li {% if current_url == '/cms/users' %}class="active"{% endif %}>
		                <a href="{{base_url}}/cms/users">
		                    <i class="pe-7s-users"></i>
		                    <p>Users</p>
		                </a>
		            </li>
	            {% endif %}
	            {% if auth.permission_level > 2 %}
		            <li {% if current_url == '/cms/sites' %}class="active"{% endif %}>
		                <a href="{{base_url}}/cms/sites">
		                    <i class="pe-7s-global"></i>
		                    <p>Sites</p>
		                </a>
		            </li>
	            {% endif %}
            {% else %}
	            <li {% if current_url == '/cms/login' %}class="active"{% endif %}>
	                <a href="{{base_url}}/cms/login">
	                    <i class="pe-7s-door-lock"></i>
	                    <p>Login</p>
	                </a>
	            </li>
            {% endif %}
        </ul>
	</div>
	<div class="sidebar-background" style="background-image: url({{asset_url}}/img/cms-sidebar.jpg) "></div>
</div>