{{ include('partials/header.twig') }}
	<section class="category-hero" style="background-image: url({{asset_url}}/img/category/{{category.hero_image}})">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div class="category-hero-inner">
						<h1>{{category.hero_header|raw}}</h1>
						<p>{{category.hero_text|raw}}</p>
						<a href="{{base_url}}{{category.hero_shop_link}}" class="btn btn-lg btn-comfort btn-outline">Shop Now</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="category-navigation">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-xs-12">
					<ul class="nav navbar-nav category-navbar">
						<li>
							<a href="{{base_url}}/smartspot/products" class="{% if current_url == '/smartspot/products' %}active {% endif %}comfort">
								<span>View all</span>
							</a>
						</li>
						<li>
							<a href="{{base_url}}/smartspot/products/security" class="{% if current_url == '/smartspot/products/security' %}active {% endif %}security">
								<span><img src="{{asset_url}}/img/global/security-icon.svg" height="20" /> Security &amp; Safety</span>
							</a>
						</li>
						<li>
							<a href="{{base_url}}/smartspot/products/energy" class="{% if current_url == '/smartspot/products/energy' %}active {% endif %}energy">
								<span><img src="{{asset_url}}/img/global/energy-icon.svg" height="20" />Energy &amp; Efficiency</span>
							</a>
						</li>
						<li>
							<a href="{{base_url}}/smartspot/products/comfort" class="{% if current_url == '/smartspot/products/comfort' %}active {% endif %}comfort">
								<span><img src="{{asset_url}}/img/global/comfort-icon.svg" height="20" />Comfort &amp; Convenience</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="module product-list">
		<div class="container">
			<div class="row">
				{% for product in products %}
					<div class="col-sm-4 col-md-3 col-xs-6">
						<div class="product-container animate">
							<div class="product-quicklook">
								<a href="#" class="no-animate quickview hint--top" aria-label="Quick view {{product.product_title}}" onclick="quickview({{product.product_id}})" data-toggle="modal" data-target="#quickview_product">
									Quick View <span class="ion-android-search"></span>
								</a>
							</div>
							<div class="product-image">
								<a href="{{base_url}}/smartspot/products/detail/{{product.product_id}}" title="See more details about {{product.product_title}}">
									<img src="{{product.image_lg}}" class="img-responsive" />
								</a>
							</div>
							<div class="col-xs-12">
								<div class="product-details">
									<h2>${{product.network_price|number_format(2, '.', ',')}}</h2>
									<a href="{{base_url}}/smartspot/products/detail/{{product.product_id}}" title="See more details about {{product.product_title}}">
										<h3>{{product.product_title}}</h3>
									</a>
									<hr />
									<p>{{product.product_description}}</p>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
	
	{{ include('partials/product-quickview.twig') }}

{{ include('partials/footer.twig') }}
