{{ include('partials/header.twig') }}
	<section class="hero">
		<div class="hero-carousel owl-carousel owl-theme">
			<div class="item" style="background-image: url({{asset_url}}/img/homepage/Hero_Image1.jpg);">
				<div class="hero-container">
					<div class="container">
						<div class="row">
							<div class="hero-text" id="hero-text-1">
								<h1>there are a million things i have to think about in the morning.</h1>
								<p>remembering to locks the doors after rushing the kids to school is not one of them.</p>
								<a href="{{base_url}}/smartspot/c/security" class="security">shop safety &amp; security <i class="ion-icon ion-ios-arrow-forward security"></i></a>
								<div class="icon">
									<img src="{{asset_url}}/img/global/icon-security-swirls.svg" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item" style="background-image: url({{asset_url}}/img/homepage/Hero_Image2.jpg);">
				<div class="hero-container">
					<div class="container">
						<div class="row">
							<div class="hero-text" id="hero-text-2">
								<h1>an efficient home is a smart home.</h1>
								<p>It turns down the thermostat, saves me energy and lowers my bills.</p>
								<a href="{{base_url}}/smartspot/c/energy" class="energy">shop energy &amp; efficiency <i class="ion-icon ion-ios-arrow-forward energy"></i></a>
								<div class="icon">
									<img src="{{asset_url}}/img/global/icon-energy-swirls.svg" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item" style="background-image: url({{asset_url}}/img/homepage/Hero_Image3.jpg);">
				<div class="hero-container">
					<div class="container">
						<div class="row">
							<div class="hero-text" id="hero-text-3">
								<h1>my home takes care of the details,</h1>
								<p>so I can spend time more time with my family and less time finding the right lighting.</p>
								<a href="{{base_url}}/smartspot/c/comfort" class="comfort">shop comfort &amp; convenience <i class="ion-icon ion-ios-arrow-forward comfort"></i></a>
								<div class="icon">
									<img src="{{asset_url}}/img/global/icon-comfort-swirls.svg" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="module overflow">
		<div class="container image1">
			<div class="row">
				<div class="col-sm-5">
					<h2 class="text-right">what if your home did the important things automatically? <br /><hr class="short pull-right" /></h2>
				</div>
				<div class="col-sm-7">
					<img src="{{asset_url}}/img/homepage/image1.jpg" class="img-responsive animate slow revealer" />
				</div>
			</div>
		</div>
		<div class="container image2">
			<div class="row">
				<div class="col-sm-5 hidden-md hidden-lg">
					<br /><br />
					<h2 class="text-left">you'd be able to enjoy what matters most, with the people you love most. <br /><hr class="short pull-left" /></h2>
				</div>
				<div class="col-sm-7">
					<img src="{{asset_url}}/img/homepage/image2.jpg" class="img-responsive animate slow revealer" />
				</div>
				<div class="col-sm-5 hidden-sm hidden-xs">
					<h2 class="text-left">you'd be able to enjoy what matters most, with the people you love most. <br /><hr class="short pull-left" /></h2>
				</div>
			</div>
		</div>
	</section>
	
	<section class="module hidden-xs hidden-sm">
		<div class="parallax-window" data-parallax="scroll" data-image-src="{{asset_url}}/img/homepage/cat_image_bg.jpg">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 category-link text-center">
						<img src="{{asset_url}}/img/global/security-icon.svg" />
						<p class="text-left">watch after your family's safety & security from near or far.</p>
						<a href="{{base_url}}/smartspot/c/security" class="btn btn-lg btn-outline btn-security">shop safety &amp; security</a>
					</div>
					<div class="col-sm-4 category-link text-center">
						<img src="{{asset_url}}/img/global/energy-icon.svg" />
						<p class="text-left">save money & energy the minute you leave your home.</p>
						<a href="{{base_url}}/smartspot/c/security" class="btn btn-lg btn-outline btn-energy">shop energy &amp; efficiency</a>
					</div>
					<div class="col-sm-4 category-link text-center">
						<img src="{{asset_url}}/img/global/comfort-icon.svg" />
						<p class="text-left">make your family feel comfortable as soon as they walk in the door.</p>
						<a href="{{base_url}}/smartspot/c/security" class="btn  btn-lg btn-outline btn-comfort">shop comfort &amp; convenience</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="module visible-xs visible-sm">
		<div class="parallax-window" data-parallax="scroll" data-image-src="{{asset_url}}/img/homepage/cat_image_bg.jpg">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="category-carousel owl-carousel owl-theme">
							<div class="item category-link text-center">
								<img src="{{asset_url}}/img/global/security-icon.svg" style="width: auto;" />
								<p>watch after your family's safety & security from near or far.</p>
								<a href="{{base_url}}/smartspot/c/security" class="btn btn-lg btn-outline btn-security">shop safety &amp; security</a>
							</div>
							<div class="item category-link text-center">
								<img src="{{asset_url}}/img/global/energy-icon.svg" style="width: auto;" />
								<p>save money & energy the minute you leave your home.</p>
								<a href="{{base_url}}/smartspot/c/security" class="btn btn-lg btn-outline btn-energy">shop energy &amp; efficiency</a>
							</div>
							<div class="item category-link text-center">
								<img src="{{asset_url}}/img/global/comfort-icon.svg" style="width: auto;"  />
								<p>make your family feel comfortable as soon as they walk in the door.</p>
								<a href="{{base_url}}/smartspot/c/security" class="btn  btn-lg btn-outline btn-comfort">shop comfort &amp; convenience</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="module">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1 class="text-center">discover smart possibilities</h1>
					<hr class="short text-center" />
					<div class="col-sm-8 col-sm-offset-2">
						<p class="text-center">
							Interact with the home below to see what these smart products can do for you. Select a category and the products that correspond with that category will be highlighted.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="module house">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h4 class="text-center">select a category</h4>
					<br />
				</div>
			</div>
		</div>
		<div class="container hidden-xs">
			<div class="row">
				<div class="col-sm-12 col-md-8 col-md-offset-2">
					<ul class="nav nav-justified house-categories">
						<li>
							<a href="javascript:;" class="security active" id="house-category-security" onclick="setActiveHouseCategory('security')">
								<img src="{{asset_url}}/img/global/icon-security-swirls.svg" class="house-category-icon animate grayscale" />
								<span>security &amp; safety</span>
							</a>
						</li>
						<li>
							<a href="javascript:;" class="energy" id="house-category-energy" onclick="setActiveHouseCategory('energy')">
								<img src="{{asset_url}}/img/global/icon-energy-swirls.svg" class="house-category-icon animate grayscale" />
								<span>energy &amp; efficiency</span>
							</a>
						</li>
						<li>
							<a href="javascript:;" class="comfort" id="house-category-comfort" onclick="setActiveHouseCategory('comfort')">
								<img src="{{asset_url}}/img/global/icon-comfort-swirls.svg" class="house-category-icon animate grayscale" />
								<span>comfort &amp; convenience</span>
							</a>
						</li>
					</ul>
					<br />
					<br />
				</div>
			</div>
		</div>
		<div class="container visible-xs">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<ul class="nav house-categories mobile-categories">
						<li style="width: 33%; float:left;">
							<a href="javascript:;" class="security text-center active" id="house-category-security" onclick="setActiveHouseCategory('security')">
								<img src="{{asset_url}}/img/global/icon-security-swirls.svg" class="house-category-icon animate grayscale" />
								<br />
								<span>security &amp; safety</span>
							</a>
						</li>
						<li style="width: 33%; float:left;">
							<a href="javascript:;" class="energy text-center" id="house-category-energy" onclick="setActiveHouseCategory('energy')">
								<img src="{{asset_url}}/img/global/icon-energy-swirls.svg" class="house-category-icon animate grayscale" />
								<br />
								<span>energy &amp; efficiency</span>
							</a>
						</li>
						<li style="width: 33%; float:left;">
							<a href="javascript:;" class="comfort text-center" id="house-category-comfort" onclick="setActiveHouseCategory('comfort')">
								<img src="{{asset_url}}/img/global/icon-comfort-swirls.svg" class="house-category-icon animate grayscale" />
								<br />
								<span>comfort &amp; convenience</span>
							</a>
						</li>
					</ul>
					<br />
					<br />
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-3">
					<div id="house-product-carousel-security" class="house-product-carousel-security hpc owl-carousel owl-theme">
						{% for security_products in house_carousel_products.security %}
							<div class="item slide_{{security_products.house_icon_name}}">
								<div class="text-center house_product_image">
									<a href="{{base_url}}/smartspot/{{security_products.product_category}}/{{security_products.product_id}}">
										<img src="{{security_products.image_lg}}" />
										{# {{security_products.product_title|replace({ (' '): '-' })|lower }} #}
									</a>
								</div>
								<a href="{{base_url}}/smartspot/{{security_products.product_category}}/{{security_products.product_id}}">
									<h4>{{security_products.product_title}}</h4>
								</a>
								<p>{{security_products.product_abstract}}</p>
								<div class="text-center">
									<a href="{{base_url}}/smartspot/{{security_products.product_category}}/{{security_products.product_id}}" class="btn btn-lg btn-outline btn-{{security_products.product_category}} text-center">
										see details
									</a>
								</div>
							</div>
						{% endfor %}
					</div>
					<div id="house-product-carousel-energy" class="house-product-carousel-energy hpc owl-carousel owl-theme lazyload">
						{% for energy_products in house_carousel_products.energy %}
							<div class="item slide_{{energy_products.house_icon_name}}">
								<div class="text-center house_product_image">
									<a href="{{base_url}}/smartspot/{{energy_products.product_category}}/{{energy_products.product_id}}">
										<img src="{{energy_products.image_lg}}" />
										{# {{energy_products.product_title|replace({ (' '): '-' })|lower }} #}
									</a>
								</div>
								<a href="{{base_url}}/smartspot/{{energy_products.product_category}}/{{energy_products.product_id}}">
									<h4>{{energy_products.product_title}}</h4>
								</a>
								<p>{{energy_products.product_abstract}}</p>
								<div class="text-center">
									<a href="{{base_url}}/smartspot/{{energy_products.product_category}}/{{energy_products.product_id}}" class="btn btn-lg btn-outline btn-{{energy_products.product_category}} text-center">
										see details
									</a>
								</div>
							</div>
						{% endfor %}
					</div>
					<div id="house-product-carousel-comfort" class="house-product-carousel-comfort hpc owl-carousel owl-theme lazyload">
						{% for comfort_products in house_carousel_products.comfort %}
							<div class="item slide_{{comfort_products.house_icon_name}}">
								<div class="text-center house_product_image">
									<a href="{{base_url}}/smartspot/{{comfort_products.product_category}}/{{comfort_products.product_id}}">
										<img src="{{comfort_products.image_lg}}" />
										{# {{comfort_products.product_title|replace({ (' '): '-' })|lower }} #}
									</a>
								</div>
								<a href="{{base_url}}/smartspot/{{comfort_products.product_category}}/{{comfort_products.product_id}}">
									<h4>{{comfort_products.product_title}}</h4>
								</a>
								<p>{{comfort_products.product_abstract}}</p>
								<div class="text-center">
									<a href="{{base_url}}/smartspot/{{comfort_products.product_category}}/{{comfort_products.product_id}}" class="btn btn-lg btn-outline btn-{{comfort_products.product_category}} text-center">
										see details
									</a>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="col-sm-12 col-md-9">
					<div class="homepage-house">
						<img src="{{asset_url}}/img/homepage/house.png" class="img-responsive house" />
						{% for category, categories in house_carousel_products %}
							{% for icons in categories %}
								<img src="{{asset_url}}/img/{{icons.house_icon_svg}}" class="house-icon {{category}} {{icons.house_icon_name}} animate" id="house_icon_{{icons.house_icon_name}}" />
							{% endfor %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="module hp-video-container">
		<div class="hp-video-bg"></div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					<h2 class="text-center">so, what's a smart home?</h2>
					<hr class="short" />
					<br />					
					<div id="player"></div>
					<div id="thumbnail_container" class="thumbnail_container">
						<img class="vid-thumbnail" id="thumbnail" src="{{asset_url}}/img/homepage/youtube-video-bg.jpg" />
						<a class="start-video"><img width="64" src="{{asset_url}}/img/global/play-video-icon.svg" style=""></a>
					</div>
				</div>
			</div>
		</div>
	</section>
{{ include('partials/footer.twig') }}