@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');

@font-face {
    font-family: 'NexaThin';
    src: url('../fonts/NexaThin.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NexaLight';
    src: url('../fonts/NexaLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NexaBold';
    src: url('../fonts/NexaBold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DinLight';
    src: url('../fonts/DinLight.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DinRegular';
    src: url('../fonts/DinRegular.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DinMedium';
    src: url('../fonts/DinMedium.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DinBold';
    src: url('../fonts/DinAltBold.woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 18px;
    overflow-x: hidden;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}


.animate, .animate:hover, 
a, a:hover, a:focus, a:active, 
a span, a:hover span, a:focus span, a:active span {
	-webkit-transition:all 0.2s ease-in-out;
	   -moz-transition:all 0.2s ease-in-out;
	    -ms-transition:all 0.2s ease-in-out;
		 -o-transition:all 0.2s ease-in-out;
		 	transition:all 0.2s ease-in-out;
}
.animate.slow, .animate.slow:hover {
	-webkit-transition:all 1s ease-in-out;
	   -moz-transition:all 1s ease-in-out;
	    -ms-transition:all 1s ease-in-out;
		 -o-transition:all 1s ease-in-out;
		 	transition:all 1s ease-in-out;
}
.no-animate, .no-animate:hover {
	-webkit-transition:all 0s;
	   -moz-transition:all 0s;
	    -ms-transition:all 0s;
		 -o-transition:all 0s;
		 	transition:all 0s;
}

.npr {
	padding-right: 0 !important;
}

.pt {
	padding-top: 30px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: DinLight, sans-serif;
}

.btn {
    padding: 6px 20px;
    border-radius: 8px;
    font-family: DinLight;
}

.security {
	color: #E3263E;
}

.security-bg {
	background-color: #E3263E;
}

.energy {
	color: #A1D4B2;
}

.energy-bg {
	background-color: #A1D4B2;
}

.comfort {
	color: #12A2DC;
}

.comfort-bg {
	background-color: #12A2DC;
}

.navbar-default {
	background-color: #001C56;
	border-color: #041a49;
	border: 0 !important;
}

.navbar-brand {
    height: auto;
    padding: 25px 15px;
    position: relative;
    z-index: 999;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    padding: 40px 20px;
    font-family: DinRegular, Tahoma, serif;
    font-size: 14px;
    line-height: 46px;
}

.navbar-default .navbar-nav.main li a {
	line-height: 46px;
}

.navbar-default .navbar-nav > li > a.active.security,
.navbar-default .navbar-nav > li > a.security:hover {
	color: #E3263E;
}

.navbar-default .navbar-nav > li > a.active.energy,
.navbar-default .navbar-nav > li > a.energy:hover {
	color: #A1D4B2;
}

.navbar-default .navbar-nav > li > a.active.comfort,
.navbar-default .navbar-nav > li > a.comfort:hover {
	color: #12A2DC;
}

.navbar-default .navbar-nav > li > a span { padding-bottom: 10px; border-bottom: 2px solid transparent; }

.navbar-default .navbar-nav > li > a.active.security span,
.navbar-default .navbar-nav > li > a.security:hover span {
    border-bottom: 2px solid #E3263E;
    padding-bottom: 10px;
}

.navbar-default .navbar-nav > li > a.active.energy span,
.navbar-default .navbar-nav > li > a.energy:hover span {
	border-bottom: 2px solid #A1D4B2;
	padding-bottom: 10px;
}

.navbar-default .navbar-nav > li > a.active.comfort span,
.navbar-default .navbar-nav > li > a.comfort:hover span {
	border-bottom: 2px solid #12A2DC;
	padding-bottom: 10px;
}

.powered-by {
/* 	padding: 20px 0 20px 20px !important; */
    margin: 25px 0 0 0;
    padding: 20px 20px !important;
    line-height: 46px;
	border-left: 1px solid rgba(255,255,255,0.5);
}

.cart-button {
    position: relative;
    line-height: 10;
    padding: 20px 0;
    padding-right: 30px;
    margin: 25px 0 0 0;
}

.cart-button span {
	font-family: DinBold, Tahoma, serif;
    color: #fff;
    position: relative;
    top: 3px;
    margin-left: 8px;
}

#navbar {
	position: relative;
}

ul.navbar-right li a {
    padding: 0 20px !important;
}

.store-zipin {
    position: absolute;
    right: 0;
    bottom: 0;
}

.store-zipin .zip-in img {
    max-height: 15px;
}

.store-zipin .zip-in a span {
    font-size: 13px;
    font-family: Din;
    position: relative;
    top: 2px;
    margin-left: 6px;
}

.store-zipin .zip-in a span.open-until {
    color: #7A99AC;
}

.zip-in-link {
    color: #fff;
    border-radius: 0;
    padding: 14px 0px;
    float: right;
}

.zip-in-link:hover,
.zip-in-link:focus {
    color: #00AAE7;
    text-decoration: none;
    outline: none;
}

ul#zipin_store_list {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul#zipin_store_list li {
	padding: 15px 20px;
    background-color: #fafafa;
	font-family: Din;
	position: relative;
}

h4.store-name {
    font-family: DinBold, sans-serif;
}

address.store-address {
    font-family: DinLight, sans-serif;
}

.store-actions {
    position: absolute;
    top: 40px;
    right: 20px;
}

#zipin_store_list li a {
    width: 135px;
}

hr.store-separator {
    position: relative;
    height: 1px;
    width: 80%;
    margin: 0 auto;
    bottom: -15px;
    background: #D8D8D8;
}

ul#zipin_store_list li:last-child hr {
	display:none;
}

p.store-mini-details {
    font-size: 0.8em;
    font-family: DinRegular;
    color: #5D5D5D;
}

.wrapper {
    padding-top: 125px;
}

.pdp .wrapper {
    padding-top: 215px;
}

.hero {
	overflow: hidden;
}

.hero .hero-carousel .item {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 700px;
}

.hero-container {
    position: relative;
}

.hero-container .hero-bg {
	min-height: 250px;
}

.hero-text {
    position: absolute;
    top: 0;
    padding: 10% 0% 10% 0;
    height: 600px;
    width: 40%;
}

.hero-text h1 {
    font-size: 40px;
}

.hero-text p,
.hero-text a {
	font-size: 18px;
    margin-bottom: 30px;
}

.hero-text a {
	color: inherit;
	text-decoration: none;	
}

.hero-text a .ion-icon {
    position: relative;
    top: 3px;
    font-size: 22px;
    margin-left: 5px;
}

.hero-container .hero-text .icon {
    position: absolute;
    bottom: 0;
}

.hero-container .hero-text .icon img {
    max-width: 115px;
}

.hero-carousel.owl-theme .owl-dots {
    margin-top: -40px !important;    
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
}
.owl-theme .owl-dots .owl-dot span { background: #fff; }
.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span {
    background: #4A4A4A;
}

.parallax-window {
    min-height: 400px;
    display:block;
    background: transparent;
    padding: 120px 0;
}

section.module {
    padding: 50px 0;
    position: relative;
}

section.module.module-with-bg {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #232032;
}

section.module.module-with-bg.features {
    color: #fff !important;
    text-align: center;
}

.image1 img.revealer {
	right: -50px;
	opacity:0;
	transition-delay: 0.2s;
}
.image1 img.revealed {
	position: relative;
	right: 0;
	opacity:1;
	transition-delay: 0.2s;
}
.image2 img.revealer {
	position: relative;
	left: -50px;
	opacity:0;
	transition-delay: 0.2s;
}
.image2 img.revealed {
	position: relative;
	left: 0;
	opacity:1;
	transition-delay: 0.2s;
}

section.module .image1 img {
    margin-bottom: -100px;
}

section.module.overflow {
    overflow-x: hidden;
}

section.module .image1 h2,
section.module .image2 h2 {
    position: relative;
    top: 120px;
}

hr.short {
	background: #d8d8d8;
    height: 3px;
    width: 15%;
}

.category-link img {
	float:left;
	padding: 0 20px;
}

.category-link p {
	color: #fff;
	font-size: 18px;
	margin-bottom: 30px;
}

.category-carousel .category-link img {
	float: none;
    display: inline-block;
    margin-bottom: 40px;
}

.hero-text {
	font-family: 'NexaThin', sans-serif;
	opacity: 1;
	-webkit-transition:all 0.2s ease-in-out;
	   -moz-transition:all 0.2s ease-in-out;
	    -ms-transition:all 0.2s ease-in-out;
		 -o-transition:all 0.2s ease-in-out;
		 	transition:all 0.2s ease-in-out;
}
.hero-text h1, .image1, .image2 {
	font-family: 'NexaThin', sans-serif;
}

.btn-lg {
	padding: 10px 30px;
}

.btn-outline {
	font-family: 'Lato', sans-serif;
	font-weight:100;
	background-color: transparent;
	border-color: #00AAE7;
}

.btn-comfort.btn-outline {
	font-family: 'Lato', sans-serif;
	font-weight:100;
	background-color: transparent;
	color: #00AAE7;
}

.btn-security {
	border-color: #E3263E;
	color: #fff;
}
.btn-security:hover, 
.btn-security:focus,
.btn-security:active  {
	background-color: #E3263E;
	border-color: #E3263E;
	color: #fff;
	outline: none;
}

.btn-energy {
	border-color: #93D0AC;
	color: #fff;
}
.btn-energy:hover, 
.btn-energy:focus,
.btn-energy:active  {
	background-color: #93D0AC;
	border-color: #93D0AC;
	color: #fff;
	outline: none;
}

.btn-comfort,
.btn-all {
	border-color: #00AAE7;
	color: #fff;
}
.btn-comfort:hover, 
.btn-comfort:focus,
.btn-comfort:active,
.btn-all:hover, 
.btn-all:focus,
.btn-all:active  {
	background-color: #00AAE7;
	border-color: #00AAE7;
	color: #fff;
	outline: none;
}

.house-categories img.house-category-icon {
    height: 40px;
    position: relative;
    margin-right: 10px;
}

.house-categories li a span {
    top: 5px;
    position: relative;
}

.grayscale {
	filter: grayscale(100%);
	opacity: 0.3;
}

.house-categories span {
    font-family: DinRegular, Tahoma, serif;
    font-size: 14px;
}

.house-categories span {
	color: #B5B5B5;
}

.nav.house-categories > li > a:focus, .nav.house-categories > li > a:hover {
    text-decoration: none;
    background-color: transparent;
}

.nav.house-categories > li > a.security.active span, .nav.house-categories > li > a.security.active span,
.nav.house-categories > li > a.security.active .house-category-icon, .nav.house-categories > li > a.security.active .house-category-icon,
.nav.house-categories > li > a.security:focus span, .nav.house-categories > li > a.security:hover span,
.nav.house-categories > li > a.security:focus .house-category-icon, .nav.house-categories > li > a.security:hover .house-category-icon{
    color: #E3263E;
    filter: grayscale(0%);
	opacity: 1;
}

.nav.house-categories > li > a.energy.active span, .nav.house-categories > li > a.energy.active span,
.nav.house-categories > li > a.energy.active .house-category-icon, .nav.house-categories > li > a.energy.active .house-category-icon,
.nav.house-categories > li > a.energy:focus span, .nav.house-categories > li > a.energy:hover span,
.nav.house-categories > li > a.energy:focus .house-category-icon, .nav.house-categories > li > a.energy:hover .house-category-icon {
    color: #A1D4B2;
    filter: grayscale(0%);
	opacity: 1;
}

.nav.house-categories > li > a.comfort.active span, .nav.house-categories > li > a.comfort.active span,
.nav.house-categories > li > a.comfort.active .house-category-icon, .nav.house-categories > li > a.comfort.active .house-category-icon,
.nav.house-categories > li > a.comfort:focus span, .nav.house-categories > li > a.comfort:hover span,
.nav.house-categories > li > a.comfort:focus .house-category-icon, .nav.house-categories > li > a.comfort:hover .house-category-icon {
    color: #12A2DC;
    filter: grayscale(0%);
	opacity: 1;
}

.hp-video-container {
	background-color: #F1F1F1;
	overflow: hidden;
	padding: 100px 0 !important;
}

.hp-video-bg {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/homepage/swirls-bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 0.05;
}

.start-video {
    position: absolute;
    top: 0;
    padding: 0;
    left: 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: 100%;
}

.start-video:hover
{
    opacity: 1;
    -webkit-filter: brightness (1);
}

div.thumbnail_container
{
	margin: 0 auto;
    width: 640px;
    height: 360px;
    overflow: hidden;
    background-color: #000;
    position: relative;
}

img.vid-thumbnail
{
    width: 100%;
}

.start-video img {
    margin: 0 auto;
    display: block;
    top: 50%;
    position: relative;
    margin-top: -32px;
}

.video-container #player {
	margin: 0 auto;
}

footer {
	background-color: #001D57;
	position: relative;
	color: #fff;
	padding: 50px 0;
	font-size: 0.8em;
}

.nav.footer-links > li > a, .nav.footer-links > li > a {
	color: #fff;
	font-size: 12px;
}

.nav.social-icons > li > a:focus, .nav.social-icons > li > a:hover,
.nav.footer-links > li > a:focus, .nav.footer-links > li > a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #ccc
}

.socialicon {
	padding: 3px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}

.sticky-pdp-header {
	z-index: 999;
	position: fixed;
	top: 125px;
	display: block;
	width:100%;
	background-color: #E5E5E5;
}
.sticky-pdp-header h1 {
	font-size: 22px;
	margin: 0;
    line-height: 90px;	
}

.sticky-pdp-header .btn.btn-cart {
    background-color: #00AAE7;
    border: 0;
    border-radius: 9px;
    color: #fff;
    padding: 10px 35px;
    font-size: 16px;
    margin: 24px 0;
    margin-left: 20px;
}

.sticky-pdp-header .btn.btn-cart:hover {
	background-color: #0a9bcf;
}

.pdp-thumb-container {
	overflow-y: scroll;
	overflow-x: hidden;
	display: block;
}

.pdp-thumb-container::-webkit-scrollbar { 
    display: none; 
}

.pdp-thumb-container a.pdp-product-thumbnail {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 10px;
}

.pdp-thumb-navigation {
	position: relative;
    text-align: center;
    width: 100%;
}
.pdp-thumb-navigation.up {
	padding-bottom: 5px;
}
.pdp-thumb-navigation.down {
	padding-top: 5px;
}

.pdp-thumb-navigation a {
    display: block;
}

.hpc h4, .hpc p, .hpc a {
	color: #333333;
}

.hpc p {
    font-size: 0.9em;
    margin-bottom: 30px;
}

.house_product_image {
    padding: 25px;
}

#house-product-carousel-security .owl-dot.active span {
    background: #E3263E;
}

#house-product-carousel-energy .owl-dot.active span {
    background: #93D0AC;
}

#house-product-carousel-comfort .owl-dot.active span {
    background: #00AAE7;
}

.hpc.owl-theme .owl-dots .owl-dot span {
    background: #B5B5B5;
}

.homepage-house .house {
/* 	max-width: 850px; */
/* Don't override img-responsive */
}

.homepage-house .house-icon.energy,
.homepage-house .house-icon.comfort {
	display: none;
}

.homepage-house .house-icon { position: absolute; }

.homepage-house .house-icon.chamberlain {
	top: 52%;
    left: 17%;
    width: 20px;	
}
.homepage-house .house-icon.kevo {
	top: 65.7%;
    left: 66.8%;
    width: 16px;	
}
.homepage-house .house-icon.leeo {
    top: 43%;
    left: 83.9%;
    width: 16px;	
}
.homepage-house .house-icon.nestcam {
    top: 30%;
    left: 86%;
    width: 22px;	
}
.homepage-house .house-icon.arlo {
	top: 40%;
    left: 58%;
    width: 15px;	
}
.homepage-house .house-icon.ringdoorbell {
    top: 60%;
    left: 68.7%;
    width: 13px;
}

.homepage-house .house-icon.irisswitch {
    top: 44%;
    left: 55.4%;
    width: 14px;
}
.homepage-house .house-icon.lightify {
	top: 28.7%;
    left: 44.7%;
    width: 44px;	
}
.homepage-house .house-icon.nesttherm {
    top: 32%;
    left: 60%;
    width: 20px;
}
.homepage-house .house-icon.ecobeetherm {
	top: 57%;
    left: 90%;
    width: 20px;	
}
.homepage-house .house-icon.lutroncaseta {
    top: 70%;
    left: 75%;
    width: 14px;	
}

.homepage-house .house-icon.clickgrow {
	top: 62.5%;
    left: 37.8%;
    width: 22px;
}
.homepage-house .house-icon.tilemate {
	top: 66%;
    left: 92.9%;
    width: 16px;	
}
.homepage-house .house-icon.googlehome {
    top: 70%;
    left: 77%;
    width: 28px;	
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.homepage-house .house-icon.chamberlain {
		top: 52%;
	    left: 17%;
	    width: 17px;	
	}
	.homepage-house .house-icon.kevo {
		top: 65.7%;
	    left: 66.8%;
	    width: 12px;	
	}
	.homepage-house .house-icon.leeo {
	    top: 43%;
	    left: 83.3%;
	    width: 15px;	
	}
	.homepage-house .house-icon.nestcam {
	    top: 30%;
	    left: 85.5%;
	    width: 22px;	
	}
	.homepage-house .house-icon.arlo {
	    top: 39.5%;
	    left: 57.4%;
	    width: 14px;	
	}
	.homepage-house .house-icon.ringdoorbell {
	    top: 60%;
	    left: 68.3%;
	    width: 13px;
	}

	.homepage-house .house-icon.irisswitch {
	    top: 44%;
	    left: 55.4%;
	    width: 12px;
	}
	.homepage-house .house-icon.lightify {
	    top: 28.5%;
	    left: 44.7%;
	    width: 38px;	
	}
	.homepage-house .house-icon.nesttherm {
	    top: 32%;
	    left: 60%;
	    width: 20px;
	}
	.homepage-house .house-icon.ecobeetherm {
		top: 57%;
	    left: 90%;
	    width: 20px;	
	}
	.homepage-house .house-icon.lutroncaseta {
	    top: 70%;
	    left: 75%;
	    width: 14px;	
	}
	
	.homepage-house .house-icon.clickgrow {
		top: 62.5%;
	    left: 37.8%;
	    width: 18px;
	}
	.homepage-house .house-icon.tilemate {
	    top: 66%;
	    left: 92.6%;
	    width: 14px;	
	}
	.homepage-house .house-icon.googlehome {
	    top: 69.8%;
	    left: 77%;
	    width: 24px;
	}

}

.category-hero {
	position: relative;
	display: block;
	width: 100%;
	height: 450px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.category-hero h1, .category-hero p {
    margin-bottom: 30px;
    color: #fff;
}

.category-hero h1 {
	font-family: 'DinBold', sans-serif;
	font-size: 3.5em;	
}

.category-hero p {
	font-family: 'Din', sans-serif;
	font-size: 1.5em;
}

.category-hero .category-hero-inner {
    padding: 8% 0;
}

.product-list {
	background-color: #F6F5F3;
}

.category-button {
	color: #333;
    position: absolute;
    right: 40px;
    bottom: 55px;
}

.product-list .product-image img {
	max-width: 100%;
}

.product-list .product-container {
    background-color: #fff;
    margin-bottom: 30px;
    height: 510px;
    position: relative;
}

.product-list .product-image {
    padding: 20px;
}

.product-list .product-container:hover {
	-webkit-box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
	box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.product-list .product-details {
	padding: 10px 20px;
}

.product-list .product-details a {
    color: #4A4A4A;
}
.product-list .product-details a:hover {
	text-decoration:none;
}
.product-list .product-details h2 {
	font-size: 26px;
	color: #00AAE7;
}
.product-list .product-details h3 {
	font-size: 20px;
	height: 45px;
    font-family: DinRegular, sans-serif;	
}

.product-list .product-details p {
	font-size: 14px;	
	font-family: Din, sans-serif;
}

.product-list .product-container:hover > a {
	color:#00AAE7 !important;
}

.product-list .review-count {
	font-size: 14px;
    top: -2px;
    position: relative;
    margin-left: 5px;
}

.product-list .quickview {
/*
    position: absolute;
    bottom: 60px;
    right: 200px;
*/
    cursor: pointer;
}

.product-list .product-container .product-quicklook {
    position: absolute;
    right: 10px;
    top: 10px;
    visibility: hidden;
}
.product-list .product-container .product-quicklook a,
.product-list .product-container .product-quicklook a:hover,
.product-list .product-container .product-quicklook a:focus,
.product-list .product-container .product-quicklook a:visited {
	outline: none;
	text-decoration: none;
	color: #4a4a4a;
}

.product-container hr {
    width: 25%;
	margin-left: 0;
}
.product-quicklook a.quickview {
    font-family: Din, sans-serif;
    color: #4A4A4A;
    font-size: 14px;
}

.product-quicklook span.ion-android-search {
    background-color: #00AAE7;
    color: #fff;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
    padding-top: 1px;
	margin-left: 6px;
}

.product-list .product-container:hover > .product-quicklook  {
	visibility: visible;
}

/*
.product-list .quickview .ion-eye {
    font-size: 25px;
}
*/

.quick-view-container,
.zipin-container {
    padding: 40px;
}

.quickview-modal .modal-header,
.zipin-modal .modal-header {
    padding: 20px 20px 15px 20px;
    background-color: #E5E5E5;
    border-radius: 5px 5px 0 0;
}

.quickview-modal h2,
.zipin-modal h2 {
	margin: 0;
}
.quickview-addtocart { margin: 0; }
.quickview-price {
    margin-right: 20px;
    font-size: 24px;
    font-weight: 400;
    font-family: Din, sans-serif;
    margin-top: 2px;
    margin-bottom: 0;
}

.quickview-thumbnails {
	margin: 50px 0 20px 0;
}

.quickview-rating {
	margin-bottom: 20px;
}

.quickview-prodinfo {
    font-size: 0.7em;
    font-family: Din, sans-serif;
}

section.category-navigation {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
/*  background-color: rgba(0,0,0,0.6); */
}

.cat .category-navbar li {
	margin-right: 30px;
}

.cat .category-navbar a {
	font-family: Din, sans-serif;
	padding-left: 0;
	padding-right: 0;
	padding-top: 15px;
    padding-bottom: 13px;
	font-size: 17px;
}

.cat .category-navbar a:not(.active) {
	color: #fff;
}

.cat .category-navbar a.active.security,
.cat .category-navbar a.active.security:hover,
.cat .category-navbar a.security:hover {
    border-bottom: 2px solid #E3263E;
    color: #E3263E;
}

.cat .category-navbar a.active.energy,
.cat .category-navbar a.active.energy:hover,
.cat .category-navbar a.energy:hover {
    border-bottom: 2px solid #93D0AC;
    color: #93D0AC;
}

.cat .category-navbar a.active.comfort,
.cat .category-navbar a.active.comfort:hover,
.cat .category-navbar a.comfort:hover {
    border-bottom: 2px solid #00AAE7;
    color: #00AAE7;
}

.cat .category-navbar>li>a:focus, .category-navbar>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.cat .category-navbar li a span img {
    margin-right: 8px;
    position: relative;
    top: -1px;
}

.cat .category-navbar li a span { color: #fff !important; }


.productpage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    height: 600px !important;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}


@media (min-width: 768px) {
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	    margin-left: -15px;
	    margin-right: 50px;
	}
}

@media (max-width: 767px) {
	.wrapper {
	    padding-top: 105px;
	}
	.thumbnail_container {
	    max-width: 100%;
	    height: auto !important;
	}
	.video-container #player {
		max-width: 100%;
	}
	.hero-container .hero-bg {
	    min-height: auto;
	}
	.hero-text h1 {
		font-size: 20px;
	}
	.hero .hero-carousel .item {
		height: 400px;
	}
	.hero-text {
		display:block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    padding: 10px 20px;
	    color: #000;
	    height: 400px;
	    width: 70%;
	    margin-top: 0px;
	}
	.navbar-brand { float: right; }
	.navbar-brand > img {
	    display: block;
	    height: 50px;
	    float: left;
		margin-right: 0;
	}
	.navbar-toggle {
	    position: relative;
	    float: left;
	    padding: 9px 10px;
	    margin-top: 30px;
	    margin-right: 0;
	    margin-bottom: 8px;
	    margin-left: 30px;
	    background-color: transparent;
	    background-image: none;
	    border: 0px solid transparent;
		border-radius: 0px;
	}
	.navbar-toggle .icon-bar {
	    display: block;
	    width: 25px;
	    height: 3px;
	    border-radius: 1px;
	    background-color: #fff;
	}
	.navbar {
		margin-bottom: 20px;
	}
	.hero-container .hero-text .icon {
	    position: absolute;
	    bottom: 10%;
	}
	.hero-container .hero-text .icon img {
	    max-width: 45px;
	}
	
	section.module .image1 h2, section.module .image2 h2 {
	    position: relative;
	    top: 0;
	}
	section.module .image1 img {
	    margin-bottom: 0;
	}
	.image1 h2.text-right,
	.image2 h2.text-right {
	    text-align: center;
	}
	.image1 h2 hr.short,
	.image2 h2 hr.short {
	    float: none !important;
	}
	.navbar-default .navbar-nav > li > a {
	    padding: 25px 20px;
	}
	.cart-button.small-cart {
	    position: relative;
	    line-height: 100px;
	    padding: 0px 0;
	    padding-right: 30px;
	}
	.navbar-header {
		text-align: center;
	}
	a.navbar-brand {
	    float: none;
	    display: inline-block;
	    margin: 0 auto;
	}
	.house-categories.mobile-categories li {
		width: 33%; 
		float:left;
		text-align: center;
	}
	.house-categories.mobile-categories li a {
	    padding: 10px 0px;
	}
	.house-categories.mobile-categories li .house-category-icon {
		margin: 0;
	}
	.house-categories.mobile-categories li span {
    	font-size: 11px;
    	opacity: 0.2;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-right: 0;
	}
	.wrapper {
	    padding-top: 130px;
	}
	section.module .image1 img {
	    margin-bottom: -30px;
	}
}

@media (min-width: 2000px) {
	.hero-carousel {
	    width: 1270px;
	    margin: 0 auto;
	}
}

@media (min-width: 1200px) {
	.hero-text {
	    position: absolute;
	    padding: 6% 0% 10% 0;
	    height: 600px;
	    width: 20%;
	}
}

.stars-container {
	position: relative;
	display: inline-block;
	color: transparent;
}

.stars-container:before {
	position: absolute;
	top: 0;
	left: 0;
	content: '★★★★★';
	color: lightgray;
}

.stars-container:after {
	position: absolute;
	top: 0;
	left: 0;
	content: '★★★★★';
	color: #00AAE7;
	overflow: hidden;
}

.stars-000:after { width: 0%; }

.stars-015:after { width: 2.5%; }
.stars-025:after { width: 5%; }
.stars-050:after { width: 10%; }
.stars-075:after { width: 15%; }

.stars-100:after { width: 20%; }

.stars-115:after { width: 22.5%; }
.stars-125:after { width: 25%; }
.stars-150:after { width: 30%; }
.stars-175:after { width: 35%; }

.stars-200:after { width: 40%; }

.stars-215:after { width: 42.5%; }
.stars-225:after { width: 45%; }
.stars-250:after { width: 50%; }
.stars-275:after { width: 55%; }

.stars-300:after { width: 60%; }

.stars-315:after { width: 62.5%; }
.stars-325:after { width: 65%; }
.stars-350:after { width: 70%; }
.stars-375:after { width: 75%; }

.stars-400:after { width: 80%; }

.stars-415:after { width: 82.5%; }
.stars-425:after { width: 85%; }
.stars-450:after { width: 90%; }
.stars-475:after { width: 95%; }

.stars-500:after { width: 100%; }

ul.product-variants {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    display: inline-block;
    height: 80px;
    overflow: hidden;
}

ul.product-variants li a {
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    display: block;
    padding: 14px 50px;
}
ul.product-variants li a img {
	max-width:50px;
	max-height:50px;	
}
ul.product-variants li a img,
ul.product-variants li a p,
ul.product-variants li a span {
	display: inline-block;
}
ul.product-variants li a span {
    margin-left: 50px;
    font-size: 1.6em;
    position: absolute;
    top: 23px;
    right: 30px;
}
ul.product-variants li a img {
	margin-right: 50px;
}
ul.product-variants li a,
ul.product-variants li a:hover {
	text-decoration: none;
	font-family: DinLight, sans-serif;
	color: #333;
    position: relative;
}

.product-expansion {
    background-color: #FBFBFB;
    border-left: 1px solid #D5D5D5;
    display: block;
    height: 700px;
    padding: 30px 30px;
    overflow-y: scroll;
}

.product-expansion h2 {
	color: #757575;
	font-family: DinLight, sans-serif;
	margin: 0;
	margin-bottom: 20px;
}

.product-expansion-items {
	list-style: none;
	padding: 0;
	margin: 0;
}

.product-detail h4 {
	color: #797979;
}

.pdp-product-images {
    max-width: 60%;
    margin: 0 auto;
    margin-top: 30px;
}

.pdp-images-carousel .owl-dots .owl-dot span {
	background: #D8D8D8;
	width: 15px;
    height: 15px;
}
.pdp-images-carousel .owl-dots .owl-dot.active span {
	background: #00AAE7;
}

.pdp-product-details {
	font-family: DinLight, sans-serif;
	padding-bottom: 30px;
}

.pdp-product-details .pdp-description {
	margin: 30px 0;
}

.product-expansion-items input.form-control {
    border-radius: 0;
    border: 0;
    outline: none;
    box-shadow: none;
    background-color: #F3F3F3;
    width: 55px;
    padding: 25px 10px;
    text-align: center;
    display: inline-block;
}

.product-expansion-items li {
    padding: 40px 0;
    border-bottom: 1px solid #D8D8D8;
}

.product-expansion-items a.decrement, .product-expansion-items a.increment {
    display: inline-block;
    margin: 5px;
}

.product-expansion-items p {
    font-family: DinLight, sans-serif;
    color: #333333;
    font-size: 14px;
}

.product-expansion-items a {
    font-family: DinLight, sans-serif;
    color: #00AAE7;
    font-size: 16px;
}

.product-expansion-items h3 {
    font-family: DinLight, sans-serif;
    color: #333333;
    font-size: 19px;
}

.features .feature-item {
    padding: 4em;
}

.features .feature-hr {
	border-bottom: 2px solid #fff;
    width: 150px;
    margin-top: 50px;
}

.features .feature-item img {
	height: 40px;
}

.features .feature-item p {
    min-height: 100px;
}

.module.module-with-bg.appdetails {
	background-color: #fff;
	background-size: 55% !important;
	background-position: 110% center;
	padding: 15em 0;
}

.app-details img {
	max-width: 100px;
}

.app-details {
	font-family: DinRegular, sans-serif;
}

.app-details .app-points {
	font-family: DinLight, sans-serif;
	padding: 0 0 0 20px;
	margin: 0;
}

.app-details .app-points li {
	padding: 10px 0;
}

.app-details .disclaimer {
    font-size: 15px;
    color: #B5B5B5;
    font-family: DinLight, sans-serif;
    font-style: italic;
}

.storeSetInLocalStorage .clearLocalStorage { display: block !important; }

.hero.pdp-feature-carousel .hero-carousel .item {
	height: 700px !important;
}

.hero.pdp-feature-carousel .hero-carousel .item .background-panel {
    height: 700px;
    width: 100%;
    margin-left: -16px;
    padding: 3.5em;
    background-color: rgba(0,0,0,0.6);
}

.hero.pdp-feature-carousel .hero-carousel .item .background-panel .slide-icon {
    width: 100px;
    height: 100px;
    padding: 15px;
    text-align: center;
    display: table-cell;
    vertical-align: middle; 
}

.hero.pdp-feature-carousel .hero-carousel .item .background-panel .slide-icon img {
    max-width: 100%;
    max-height: 100%;
}

.hero.pdp-feature-carousel .hero-carousel .item .background-panel h2 {
    color: #fff;
    font-family: DinBold, sans-serif;
    font-size: 3.5em;
    margin: 40px 0;
}

.hero.pdp-feature-carousel .hero-carousel .item .background-panel p {
    color: #fff;
    font-family: DinLight, sans-serif;
    margin: 0;
    font-size: 1.4em;
}
.hero.pdp-feature-carousel .hero-carousel .owl-dots {
    width: 33.3333333%;
}

section.specs {
	padding: 100px 0;
	background-color: #424242;
}

.spec-item {
    color: #fff;
    width: auto;
    margin-bottom: 40px;
}

.spec-item h3 {
	color: #1AB6EE;
}

.title-separator-blue {
    border: 1px solid #00AAE7;
    height: 2px;
    background-color: #00AAE7;
    width: 100px;
    margin: 20px auto 80px auto;
}

.specs h2.title {
	color: #fff
}

.title-separator-grey {
    border: 1px solid #D8D8D8;
    height: 2px;
    background-color: #D8D8D8;
    width: 100px;
    margin: 20px auto 80px auto;
}

div#quickview_thumbnails::-webkit-scrollbar {
    display: none;
}

div#quickview_thumbnails {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 80px;
    white-space: nowrap;
}

div.quickview-thumbnails .thumb {
    max-height: 80px;
	display: inline-block;
	margin: 0 3px;
}

div.quickview-thumbnails .thumb img {
    max-height: 80px;
}

.quickview-loading.text-center {
    padding: 100px 0;
}

#quickview_mainimage img.qvmi {
    max-width: 100%;
    min-width: 270px;
}

.cart-blackout {
    background-color: rgba(0,0,0,0.6);
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99998;
	-webkit-transition:all 0.2s ease-in-out;
	   -moz-transition:all 0.2s ease-in-out;
	    -ms-transition:all 0.2s ease-in-out;
		 -o-transition:all 0.2s ease-in-out;
		 	transition:all 0.2s ease-in-out;
}

.cartpane {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ffffff;
    display: block;
    width: 350px;
    height: 100%;
    z-index: 99998;
    margin-right: -355px;
	-webkit-transition:all 0.2s ease-in-out;
	   -moz-transition:all 0.2s ease-in-out;
	    -ms-transition:all 0.2s ease-in-out;
		 -o-transition:all 0.2s ease-in-out;
		 	transition:all 0.2s ease-in-out;
}

.cart-head {
    background-color: #F2F2F2;
    padding: 10px 25px;
}

.cart-head h2 {
    font-size: 22px;
}

.cart-head h2 img {
    position: relative;
    top: -2px;
    margin-right: 15px;
}

.cart-footer {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.cart-checkout {
    padding: 25px;
    background-color: #F2F2F2;
}
.cart-checkout a.btn.btn-comfort.btn-filled.btn-lg.btn-block {
    background-color: #00AAE7;
    border-radius: 6px;
}
.cart-checkout a.btn.btn-comfort.btn-filled.btn-lg.btn-block:hover {
    background-color: #0c95c7;
}

.cart-promo {
    display: block;
    height: 225px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 45px;
}

.cart-promo h1.promo-largetext {
    margin: 0 0 20px 0;
    font-family: DinBold, sans-serif;
    color: #fff;
    font-size: 40px;
}

.cart-promo h3.promo-smalltext {
    margin: 0 0 0 0;
    font-family: DinLight, sans-serif;
    color: #fff;
}

ul.products-in-cart {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.products-in-cart li {
    height: 180px;
}

.product-in-cart {
    height: 100%;
    padding: 20px 10px 10px 10px;
}

.cart-blackout.cart-open {
    display: block;
	-webkit-transition:all 0.2s ease-in-out;
	   -moz-transition:all 0.2s ease-in-out;
	    -ms-transition:all 0.2s ease-in-out;
		 -o-transition:all 0.2s ease-in-out;
		 	transition:all 0.2s ease-in-out;
}

.cartpane.cart-open {
	margin-right: 0px;
	-webkit-transition:all 0.2s ease-in-out;
	   -moz-transition:all 0.2s ease-in-out;
	    -ms-transition:all 0.2s ease-in-out;
		 -o-transition:all 0.2s ease-in-out;
		 	transition:all 0.2s ease-in-out;
}

.product-in-cart p.title {
    font-family: DinLight, sans-serif;
    font-size: 0.8em;
    margin-bottom: 15px;
}

.product-in-cart p.price {
    color: #00AAE7;
    font-family: DinRegular, sans-serif;
    font-size: 0.9em;
    margin-bottom: 20px;
}

.product-in-cart p.quantity {
    margin: 0;
}

.product-in-cart .quantity a.decrement, .product-in-cart .quantity a.increment {
    font-size: 0.7em;
    color: #9B9B9B !important;
}

.product-in-cart .quantity .current-product-count {
    background-color: #F3F3F3;
    height: 30px;
    width: 30px;
    display: inline-block;
    line-height: 32px;
    text-align: center;
    font-family: DinLight, sans-serif;
    margin: 0 12px;
    font-size: 14px;
}

.product-in-cart a.remove-product {
    font-family: DinLight, sans-serif;
    font-size: 10px;
    margin-left: 15px;
    color: #9B9B9B;
}

hr.cart-separator {
    width: 80%;
    margin: 0 auto;
    margin-top: -10px;
}