{{ include('partials/header.twig') }}

	<div class="sticky-pdp-header animate">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-xs-12">
					<h1>{{ product['product_title'] }}</h1>
				</div>
				<div class="col-sm-4 col-xs-12">
					<button class="btn btn-cart animate pull-right" onclick="changeCart( {{product['product_id']}}, {{product['network_price']|number_format(2, '.', ',')}}, 'add', '{{product['image_lg']}}', '{{product['product_title']}}' )" id="stickyBarAddCartButton">add to cart</button>
					<h1 class="pull-right">&dollar;{{ product['network_price']|number_format(2, '.', ',') }}</h1>
				</div>
			</div>
		</div>
	</div>
	{% if not product['hero_video'] == '' %}
	<div class="productpage-hero-module">
	    <div class="video-container">
	        <div class="filter"></div>
	        <video autoplay loop class="productVideoHero fillWidth" muted>
	            <source src="{{product['hero_video']}}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
	        </video>
	        <div class="poster hidden">
	            <img src="{{product['hero_video_bg']}}" alt="{{product['product_title']}} introduction video">
	        </div>
	    </div>
	</div>
	{% endif %}
	<section class="product-detail">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 col-sm-8 col-xs-12">
					<div class="col-sm-7 col-sm-offset-3 col-xs-12 pt panel-height">
						<h4>Change system</h4>
						<ul class="product-variants" id="product_variant_selector">
							<li class="variant-selected">
								<a href="javascript:;" data-productid="{{product['product_id']}}" onclick="changeVariant({{product['product_id']}});" class="product-variant-selected">
									<img src="{{ product['image_lg'] }}" />
									<p>{{ product['product_title'] }}</p>
									<span><i class="ion-ios-arrow-down comfort animate"></i></span>
								</a>
							</li>
							<li class="variant-selectable">
								<a href="javascript:;" data-productid="{{product['product_id']}}" onclick="changeVariant({{product['product_id']}});" class="product-variant-selected">
									<img src="{{ product['image_lg'] }}" />
									<p>{{ product['product_title'] }}</p>
								</a>
							</li>
							<li class="variant-selectable">
								<a href="javascript:;" data-productid="{{product['product_id']}}" onclick="changeVariant({{product['product_id']}});" class="product-variant-selected">
									<img src="{{ product['image_lg'] }}" />
									<p>{{ product['product_title'] }}</p>
								</a>
							</li>
						</ul>
						
						<div class="pdp-product-images">
							<div class="text-center">
								<div class="pdp-images-carousel owl-carousel owl-theme">
									<div class="item">
										<img src="{{product['image_xl']}}" class="img-responsive" />
									</div>
									{% for image in additional_images %}
										<div class="item">
											<img src="{{image}}" class="img-responsive" />
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
						
						<div class="pdp-product-details">
							{% if not product['item_number'] == '' %}<p><span class="comfort">item #:</span> {{product['item_number']}}</p>{% endif %}
							{% if not product['model_number'] == '' %}<p><span class="comfort">model #:</span> {{product['model_number']}}</p>{% endif %}
							<p class="pdp-description">
								{{ product['product_abstract'] }}
							</p>
							<div><span class="stars-container stars-{{product['rating_class']}}">★★★★★</span> <span class="review-count">({{product.review_count}} reviews)</span></div>
						</div>					
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 npr">
					<div class="product-expansion">
						<h2>Expand your system</h2>
						<ul class="product-expansion-items">
							<li>
								<div class="row">
									<div class="col-xs-2">
										<img src="{{product['image_lg']}}" class="img-responsive" />
									</div>
									<div class="col-xs-6">
										<h3>{{product['product_title']}}</h3>
										<p>{{product['product_description']}}</p>
										<a href="#">See details</a>
									</div>
									<div class="col-xs-4 npr">
										<a href="#" class="decrement"><i class="ion-minus-round"></i></a>
										<input type="text" class="form-control" value="0" maxlength="2" />
										<a href="#" class="increment"><i class="ion-plus-round"></i></a>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-xs-2">
										<img src="{{product['image_lg']}}" class="img-responsive" />
									</div>
									<div class="col-xs-6">
										<h3>{{product['product_title']}}</h3>
										<p>{{product['product_description']}}</p>
										<a href="#">See details</a>
									</div>
									<div class="col-xs-4 npr">
										<a href="#" class="decrement"><i class="ion-minus-round"></i></a>
										<input type="text" class="form-control" value="0" maxlength="2" />
										<a href="#" class="increment"><i class="ion-plus-round"></i></a>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-xs-2">
										<img src="{{product['image_lg']}}" class="img-responsive" />
									</div>
									<div class="col-xs-6">
										<h3>{{product['product_title']}}</h3>
										<p>{{product['product_description']}}</p>
										<a href="#">See details</a>
									</div>
									<div class="col-xs-4 npr">
										<a href="#" class="decrement"><i class="ion-minus-round"></i></a>
										<input type="text" class="form-control" value="0" maxlength="2" />
										<a href="#" class="increment"><i class="ion-plus-round"></i></a>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-xs-2">
										<img src="{{product['image_lg']}}" class="img-responsive" />
									</div>
									<div class="col-xs-6">
										<h3>{{product['product_title']}}</h3>
										<p>{{product['product_description']}}</p>
										<a href="#">See details</a>
									</div>
									<div class="col-xs-4 npr">
										<a href="#" class="decrement"><i class="ion-minus-round"></i></a>
										<input type="text" class="form-control" value="0" maxlength="2" />
										<a href="#" class="increment"><i class="ion-plus-round"></i></a>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-xs-2">
										<img src="{{product['image_lg']}}" class="img-responsive" />
									</div>
									<div class="col-xs-6">
										<h3>{{product['product_title']}}</h3>
										<p>{{product['product_description']}}</p>
										<a href="#">See details</a>
									</div>
									<div class="col-xs-4 npr">
										<a href="#" class="decrement"><i class="ion-minus-round"></i></a>
										<input type="text" class="form-control" value="0" maxlength="2" />
										<a href="#" class="increment"><i class="ion-plus-round"></i></a>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-xs-2">
										<img src="{{product['image_lg']}}" class="img-responsive" />
									</div>
									<div class="col-xs-6">
										<h3>{{product['product_title']}}</h3>
										<p>{{product['product_description']}}</p>
										<a href="#">See details</a>
									</div>
									<div class="col-xs-4 npr">
										<a href="#" class="decrement"><i class="ion-minus-round"></i></a>
										<input type="text" class="form-control" value="0" maxlength="2" />
										<a href="#" class="increment"><i class="ion-plus-round"></i></a>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-xs-2">
										<img src="{{product['image_lg']}}" class="img-responsive" />
									</div>
									<div class="col-xs-6">
										<h3>{{product['product_title']}}</h3>
										<p>{{product['product_description']}}</p>
										<a href="#">See details</a>
									</div>
									<div class="col-xs-4 npr">
										<a href="#" class="decrement"><i class="ion-minus-round"></i></a>
										<input type="text" class="form-control" value="0" maxlength="2" />
										<a href="#" class="increment"><i class="ion-plus-round"></i></a>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-xs-2">
										<img src="{{product['image_lg']}}" class="img-responsive" />
									</div>
									<div class="col-xs-6">
										<h3>{{product['product_title']}}</h3>
										<p>{{product['product_description']}}</p>
										<a href="#">See details</a>
									</div>
									<div class="col-xs-4 npr">
										<a href="#" class="decrement"><i class="ion-minus-round"></i></a>
										<input type="text" class="form-control" value="0" maxlength="2" />
										<a href="#" class="increment"><i class="ion-plus-round"></i></a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	{% if features is not empty %}
		{% if features['feature_bg'] is not empty %}
			<section class="module module-with-bg features" style="background-image: url({{ asset_url }}/img/pdp/{{ features['feature_bg'] }});">
		{% else %}
			<section class="module features">
		{% endif %}
				
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<h2 class="text-center">Features</h2>
							<hr class="feature-hr" />
						</div>
					</div>
					<div class="row">
						{% if features['icon_1'] is not empty and features['text_1'] is not empty %}
							<div class="col-sm-4">
								<div class="feature-item">
									<img src="{{ asset_url }}/img/icon/{{ features['icon_1'] }}" />
									<br /><br />
									<p class="text-left">{{ features['text_1']|raw }}</p>
								</div>
							</div>
						{% endif %}
						{% if features['icon_2'] is not empty and features['text_2'] is not empty %}
							<div class="col-sm-4">
								<div class="feature-item">
									<img src="{{ asset_url }}/img/icon/{{ features['icon_2'] }}" />
									<br /><br />
									<p class="text-left">{{ features['text_2']|raw }}</p>
								</div>
							</div>
						{% endif %}
						{% if features['icon_3'] is not empty and features['text_3'] is not empty %}
							<div class="col-sm-4">
								<div class="feature-item">
									<img src="{{ asset_url }}/img/icon/{{ features['icon_3'] }}" />
									<br /><br />
									<p class="text-left">{{ features['text_3']|raw }}</p>
								</div>
							</div>
						{% endif %}
					</div>
					<div class="row">
						{% if features['icon_4'] is not empty and features['text_4'] is not empty %}
							<div class="col-sm-4">
								<div class="feature-item">
									<img src="{{ asset_url }}/img/icon/{{ features['icon_4'] }}" />
									<br /><br />
									<p class="text-left">{{ features['text_4']|raw }}</p>
								</div>
							</div>
						{% endif %}
						{% if features['icon_5'] is not empty and features['text_5'] is not empty %}
							<div class="col-sm-4">
								<div class="feature-item">
									<img src="{{ asset_url }}/img/icon/{{ features['icon_5'] }}" />
									<br /><br />
									<p class="text-left">{{ features['text_5']|raw }}</p>
								</div>
							</div>
						{% endif %}
						{% if features['icon_6'] is not empty and features['text_6'] is not empty %}
							<div class="col-sm-4">
								<div class="feature-item">
									<img src="{{ asset_url }}/img/icon/{{ features['icon_6'] }}" />
									<br /><br />
									<p class="text-left">{{ features['text_6']|raw }}</p>
								</div>
							</div>
						{% endif %}
					</div>
			</section>
	{% endif %}
	
	{% if appdetails is not empty %}
		{% if appdetails['app_bg_image'] is not empty %}
			<section class="module module-with-bg appdetails" style="background-image: url({{ asset_url }}/img/pdp/{{ appdetails['app_bg_image'] }});">
		{% else %}
			<section class="module appdetails">
		{% endif %}
				<div class="container">
					<div class="row">
						<div class="app-details">
							<div class="col-sm-5">
								<img src="{{ asset_url }}/img/pdp/{{ appdetails['app_icon_image'] }}" />
								<br /><br />
								<h3>{{ appdetails['app_title'] }}</h3>
								<br />
								<p>{{ appdetails['app_abstract'] }}</p>
								{% if appdetails['app_points'] is not empty %}
									{% set app_points = appdetails['app_points']|split('||') %}
									<ul class="app-points">
										{% for point in app_points %}
											<li>{{point}}</li>
										{% endfor %}
									</ul>
								{% endif %}
								<br />
								<p class="disclaimer">{{ appdetails['app_disclaimer'] }}</p>
							</div>
						</div>
					</div>
				</div>
			</section>
	{% endif %}
	
	{% if featurecarousel is not empty %}
		<section class="hero pdp-feature-carousel">
			<div class="hero-carousel owl-carousel owl-theme">
				{% for slide in featurecarousel %}
					<div class="item" style="background-image: url({{asset_url}}/img/pdp/{{slide.slide_bg}});">
						<div class="col-sm-4">
							<div class="background-panel">
								<div class="slide-icon" style="background-color: {{slide.slide_icon_bg_color}}">
									<img src="{{asset_url}}/img/pdp/{{slide.slide_icon}}" />
								</div>
								<h2>{{ slide.slide_header|raw }}</h2>
{# 								<span class="quote" style="color: {{slide.slide_icon_bg_color}}">"</span> #}
								<p>{{ slide.slide_abstract|raw }}</p>
{# 								<span class="quote" style="color: {{slide.slide_icon_bg_color}}">"</span> #}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
	{% endif %}
	
	{% if specs is not empty %}
		<section class="module specs">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12">
						<h2 class="title text-center">Installation &amp; Specs</h2>
						<hr class="title-separator-blue" />
					</div>
				</div>
				<div class="row">
					{% if product.specification_dimensions_picture != '' %}
						<div class="col-sm-4 col-sm-offset-1">
							<div class="spec-item">
								<h3>Dimensions:</h3>
							</div>
							<img src="{{asset_url}}/img/pdp/{{product.specification_dimensions_picture}}" class="img-responsive" />
						</div>
					{% endif %}
					<div class="col-sm-3">
						{% for spec in specs %}
							{% if spec.key_placement == 'left' %}
								<div class="spec-item">
									<h3>{{spec.specs_name}}</h3>
									{{spec.specs_value|raw}}
								</div>
							{% endif %}
						{% endfor %}
					</div>
					<div class="col-sm-3">
						{% for spec in specs %}
							{% if spec.key_placement == 'right' %}
								<div class="spec-item">
									<h3>{{spec.specs_name}}</h3>
									{{spec.specs_value|raw}}
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
	{% endif %}
	
	<section class="module product-list">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="title text-center">Bring Them All Home</h2>
					<hr class="title-separator-grey" />
				</div>
			</div>
			<div class="row">
				{% for product in products %}
					<div class="col-sm-4 col-md-3 col-xs-6">
						<div class="product-container animate">
							<div class="product-quicklook">
								<a href="#" class="no-animate quickview hint--top" aria-label="Quick view {{product.product_title}}" onclick="quickview( {{product.product_id}} )" data-toggle="modal" data-target="#quickview_product">
									Quick View <span class="ion-android-search"></span>
								</a>
							</div>
							<div class="product-image">
								<a href="{{base_url}}/smartspot/products/detail/{{product.product_id}}" title="See more details about {{product.product_title}}">
									<img src="{{product.image_lg}}" class="img-responsive" />
								</a>
							</div>
							<div class="col-xs-12">
								<div class="product-details">
									<h2>${{product.network_price}}</h2>
									<a href="{{base_url}}/smartspot/products/detail/{{product.product_id}}" title="See more details about {{product.product_title}}">
										<h3>{{product.product_title}}</h3>
									</a>
									<hr />
									<p>{{product.product_description}}</p>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
	{{ include('partials/product-quickview.twig') }}
{{ include('partials/footer.twig') }}