{{ include('cms/partials/header.twig') }}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
		    	{% if firstlogin == 'yes' %}
		    		<div class="alert alert-warning">
		    			<span><strong>Alert:</strong> Your account has a default generated password, <strong>we recommend changing your password now.</strong></span>
		    		</div>
		    		<br />
				{% endif %}
				<div class="card">
                    <div class="header">
                        <h4 class="title">Login Details</h4>
                    </div>
                    <div class="content">
                        <hr />
						<form>
							<h5>Username</h5>
							<div class="form-group">
								<label for="user">Username (For reference only)</label>
								<input type="text" class="form-control" id="user" name="user" placeholder="Username" value="{{user['username']}}" readonly>
							</div>
							<hr />
							<h5>Change Password</h5>
							<div class="form-group">
								<label for="user">New Password</label>
								<input type="password" class="form-control" id="newpassword" name="password" placeholder="New Password">
							</div>
							<div class="form-group">
								<label for="user">Confirm Password</label>
								<input type="password" class="form-control" id="conpassword" name="passwordconfirm" placeholder="Confirm Password">
							</div>
							<div class="form-group">
								<a class="btn btn-primary" id="updatePassword" {% if firstlogin == 'yes' %}onclick="updatePassword(this.id, 1);"{% elseif firstlogin == 'no' %}onclick="updatePassword(this.id, 0);"{% endif %}>
									Update Password
								</a>
							</div>
						</form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
				<div class="card">
                    <div class="header">
                        <h4 class="title">All About You <small>[optional]</small></h4>
                    </div>
                    <div class="content">
                        <hr />
						<form>
							<h5>Personal</h5>
							<div class="form-group">
								<label for="user">Full Name</label>
								<input type="text" class="form-control" id="fullname" name="fullname" placeholder="Full Name" value="{{user['fullname']}}">
							</div>
							<div class="form-group">
								<label for="user">Jobtitle</label>
								<input type="text" class="form-control" id="jobtitle" name="jobtitle" placeholder="Jobtitle" value="{{user['jobtitle']}}">
							</div>
							<hr />
							<h5>Contact data</h5>
							<div class="form-group">
								<label for="user">Email Address</label>
								<input type="text" class="form-control" id="email" name="email" placeholder="Email Address" value="{{user['emailaddress']}}">
							</div>
							<div class="form-group">
								<label for="user">Telephone Number</label>
								<input type="text" class="form-control" id="tel" name="tel" placeholder="Telephone Number" value="{{user['tel']}}">
							</div>
							<div class="form-group">
								<label for="user">Building</label>
								<input type="text" class="form-control" id="building" name="building" placeholder="Building" value="{{user['building']}}">
							</div>
							<div class="form-group">
								<label for="user">Booth/Office</label>
								<input type="text" class="form-control" id="booth" name="user" placeholder="Booth/Office" value="{{user['booth']}}">
							</div>
							<div class="form-group">
								<button class="btn btn-primary" id="updatePersonal">Update Personal</button>
							</div>
						</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ include('cms/partials/footer.twig') }}