{{ include('cms/partials/header.twig') }}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
				<div class="card">
                    <div class="header">
                        <h4 class="title">Products Active</h4>
                    </div>
                    <div class="content">
                        
                        <h2 class="text-center">{{ smarthome_data['products']|length }}</h2>
                        <br />
                        <div class="footer">
                            <hr>
                            <div class="stats fullwidth">
                            	
                                {% for products in smarthome_data['products'] %}
                                	{% set time_diff = date().timestamp - products['last_update'] %}
                                	
                                	{% if time_diff >= 86400 %}
                                		{% set product_outdated_count = product_outdated_count + 1 %}
                                	{% endif %}
                                {% endfor %}
                                
                                {% if product_outdated_counter > 0 %}
                                	{{product_outdated_count}} products are outdated by one day, update?
                                	<a href="#" class="btn btn-xs btn-primary pull-right card-footer-btn hint--top" aria-label="Force update products if you know a &#10; change has occurred on the .com site">Force update</a>
                                {% else %}
                                	All products are up to date with the API.
                                	<a href="#" class="btn btn-xs btn-primary pull-right card-footer-btn hint--top" aria-label="Force update products if you know a &#10; change has occurred on the .com site">Update anyway</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
				<div class="card">
                    <div class="header">
                        <h4 class="title">Last logged in user</h4>
                    </div>
                    <div class="content">
                        
                        <h2 class="text-center">{{ lastlogin['fullname'] }}</h2>
                        <br />
                        <div class="footer">
                            <hr>
                            <div class="stats fullwidth">
                            	Looks like {{ lastlogin['fullname'] }} is just browsing for now.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

{{ include('cms/partials/footer.twig') }}