{{ include('cms/partials/header.twig') }}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">
				<div class="card">
                    <div class="header">
                        <h4 class="title">
	                    	<i class="pe-7s-door-lock" style="font-size: 1.4em;position: relative;top: 5px;margin-right: 20px;"></i> Login
	                    </h4>
                    </div>
                    <div class="content">
						<form action="{{base_url}}/cms/auth/login" method="POST">
							<div class="form-group">
								<label for="user">Username</label>
								<input type="text" class="form-control" id="user" name="user" placeholder="Username">
							</div>
							<div class="form-group">
								<label for="password">Password</label>
								<input type="password" class="form-control" id="password" name="password" placeholder="Password">
							</div>
							<br />
								{% if auth_error is not empty %}
									<div class="alert alert-danger">
	                                    <span><b> Error - </b> {{auth_error}}</span>
	                                </div>
								{% endif %}
							<br />
							<div class="text-center">
								<button type="submit" class="btn btn-primary">Login</button>
							</div>
						</form>
						<br /><br />
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-clock-o"></i> If your account is locked, contact your manager.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ include('cms/partials/footer.twig') }}\