{{ include('cms/partials/header.twig') }}

<div class="content">
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-xs-12">
    			<div class="card">
                    <div class="content">
                        <a href="#" class="btn btn-primary btn-sm">Elements</a>
                    </div>
                </div>
    		</div>
    	</div>
        <div class="row">
            <div class="col-md-3">
				<ul class="nav">
					{% for element in elements %}
						<li>					
							<div class="card">
			                    <div class="content">
			                    	<div class="card-corner-label">{{element.element_type}}</div>
		                            <div class="stats fullwidth">
		                            	<strong>{{element.element_name}}</strong><br />
		                            	{{element.element_description}}
		                            	<input type="hidden" id="{{element.id}}" value="{{element.element_html}}" />
		                            </div>
			                    </div>
			                </div>
						</li>
					{% endfor %}
				</ul>		                
            </div>
            
            <div class="col-md-9">
				<div class="card">
                    <iframe src="{{base_url}}/cms/pages/creator-preview" style="width: 100%; height: 227px; border: 0; overflow: hidden;"></iframe>
                    <div class="html-bind">
                    	<div class="starter-message">
                    		<p>Start by adding a row to hold your content</p>
                    	</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ include('cms/partials/footer.twig') }}