{{ include('cms/partials/header.twig') }}

<div class="content">
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-xs-12">
    			<div class="card">
                    <div class="content">
                        <h4 class="title">Pages</h4>
                        <div class="pull-right">
                        	<a href="{{base_url}}/cms/pages/new" class="btn btn-success">New Page</a>
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
    		</div>
    	</div>
    </div>
</div>

{{ include('cms/partials/footer.twig') }}