{{ include('cms/partials/header.twig') }}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">

            </div>
        </div>
    </div>
</div>

{{ include('cms/partials/footer.twig') }}