{{ include('cms/partials/header.twig') }}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
				<div class="card">
                    <div class="header">
                        <h4 class="title">Create Site</h4>
                        <p class="category">Create a new website controlled by the CMS.
                    </div>
                    <div class="content">
                        <hr />
						<form>
							<div class="form-group">
								<label for="sitename">Site Name</label>
								<input type="text" class="form-control" id="sitename" name="sitename" placeholder="Site Name" />
							</div>
							<div class="form-group">
								<label for="description">Site Description</label>
								<input type="text" class="form-control" id="description" name="description" placeholder="Site Description" />
							</div>
							<div class="form-group">
								<label for="status">Status</label>
								<select class="form-control" id="status" name="status">
									<option value="">Select a status</option>
									<option value="draft">Draft</option>
									<option value="published" {% if auth.permission_level < 3 %}disabled{% endif %}>Published</option>
								</select>
							</div>
							<br />
							<div class="form-group">
								<a class="btn btn-primary" onclick="createNewSite();">Create New Site</a>
							</div>
						</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ include('cms/partials/footer.twig') }}