{{ include('cms/partials/header.twig') }}

<div class="content">
    <div class="container-fluid">
        <div class="row">
        	<div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Sites</h4>
                        <div class="pull-right">
                        	<a href="{{base_url}}/cms/sites/new" class="btn btn-success">New Site</a>
                        </div>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
	                                <th>Site ID</th>
	                            	<th>Site Name</th>
	                            	<th>Description</th>
	                            	<th>Published Date</th>
	                            	<th>Status</th>
	                            	<th>Actions</th>
								</tr>
                            </thead>
                            <tbody>
                            	{% for site in sites %}
                            		{% if site.status != 'deleted' %}
		                                <tr id="user_row_{{site.id}}">
		                                	<td>{{site.id}}</td>
		                                	<td>{{site.site_name}}</td>
		                                	<td>{{site.description}}</td>
		                                	<td>{{site.pubished_date|date("h:ia m/d/Y")}}</td>
		                                	<td>{{site.status|capitalize}}</td>
		                                	<td>
		                                		<a href="javascript:;" class="btn btn-xs btn-primary">Edit</a> &nbsp; 
		                                		{% if site.status == 'published' %}
		                                			<a href="{{base_url}}/cms/sites/status-change/draft/{{site.id}}" class="btn btn-xs btn-danger">Unpublish</a>
		                                		{% elseif site.status == 'draft' %}
		                                			<a href="{{base_url}}/cms/sites/status-change/published/{{site.id}}" class="btn btn-xs btn-success">Publish</a> &nbsp;
		                                			<a href="{{base_url}}/cms/sites/status-change/deleted/{{site.id}}" class="btn btn-xs btn-danger">Delete</a>
		                                		{% elseif site.status == 'draft' %}
		                                			<a href="{{base_url}}/cms/sites/status-change/draft/{{site.id}}" class="btn btn-xs btn-success">Save Draft</a> &nbsp;
		                                			<a href="{{base_url}}/cms/sites/status-change/published/{{site.id}}" class="btn btn-xs btn-success">Publish</a> &nbsp;
		                                		{% endif %}
		                                	</td>
		                                </tr>
		                            {% endif %}
	                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ include('cms/partials/footer.twig') }}