{{ include('cms/partials/header.twig') }}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
				<div class="card">
                    <div class="header">
                        <h4 class="title">Create User</h4>
                        <p class="category">Create new login credentials to access the LiftOff CMS.
                    </div>
                    <div class="content">
                        <hr />
						<form>
							<div class="form-group">
								<label for="user">Username</label>
								<input type="text" class="form-control" id="username" name="username" placeholder="Username" />
							</div>
							<div class="form-group">
								<label for="fullname">Full Name</label>
								<input type="text" class="form-control" id="fullname" name="fullname" placeholder="Full Name" />
							</div>
							<div class="form-group">
								<label for="email">Email Address</label>
								<input type="text" class="form-control" id="email" name="email" placeholder="Email Address" />
							</div>
							<div class="form-group">
								<label for="permissionlevel">Permission Level</label>
								<select class="form-control" id="permissionlevel" name="permissionlevel">
									<option value="">Select a permission level</option>
									<option value="0">Guest</option>
									<option value="1">Content Editor</option>
									<option value="2" {% if auth.permission_level < 3 %}disabled{% endif %}>Content Manager</option>
									<option value="3" {% if auth.permission_level < 3 %}disabled{% endif %}>Administrator</option>
								</select>
								<br />
								<p class="category"><strong>PERMISSION LEVELS</strong></p>
								<p class="category"><strong>Guest:</strong> Can login to CMS, but not do anything. Ideal for training to get an idea of the CMS.</p>
								<p class="category"><strong>Content Editor:</strong> Add content, edit content they created. No API access. Cannot delete content.</p>
								<p class="category">{% if auth.permission_level < 3 %}<s>{%endif%}<strong>Content Manager:</strong> Add, edit and delete content. Create users up to "Content Editor" permission level. Limited API access.{% if auth.permission_level < 3 %}</s> [You can't create this level account]{%endif%}</p>
								<p class="category">{% if auth.permission_level < 3 %}<s>{%endif%}<strong>Administrator:</strong> Full CMS access, can perform any action. Can create users up to "Administrator" permission level.{% if auth.permission_level < 3 %}</s> [You can't create this level account]{%endif%}</p>
							</div>
							<br />
							<div class="form-group">
								<label>The CMS will generate a password for you.</label>
							</div>
							<br />
							<div class="form-group">
								<a class="btn btn-primary" onclick="createNewUser();">Create User &amp; Send Email</a>
							</div>
						</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ include('cms/partials/footer.twig') }}