{{ include('cms/partials/header.twig') }}

<div class="content">
	{% if message is not empty %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="alert alert-info">
						<span>{{message}}</span>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Users</h4>
                        <div class="pull-right">
                        	<a href="{{base_url}}/cms/users/new" class="btn btn-success">New User</a>
                        </div>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
	                                <th>User ID</th>
	                            	<th>Username</th>
	                            	<th>Full Name</th>
	                            	<th>Email Address</th>
	                            	<th>Permission Level</th>
	                            	<th>Authorized</th>
	                            	<th>Last Login</th>
	                            	<th>Actions</th>
								</tr>
                            </thead>
                            <tbody>
                            	{% for user in userlist %}
	                                <tr id="user_row_{{user.id}}">
	                                	<td>{{user.id}}</td>
	                                	<td>{{user.username}}</td>
	                                	<td>{{user.fullname}}</td>
	                                	<td>{{user.emailaddress}}</td>
	                                	<td>
	                                		{% if user.permission_level == 0 %}
	                                			Guest
	                                		{% elseif user.permission_level == 1 %}
	                                			Content Editor
	                                		{% elseif user.permission_level == 2 %}
	                                			Content Management
	                                		{% elseif user.permission_level == 3 %}
	                                			Administrator
	                                		{% endif %}
	                                	</td>
	                                	<td>{{user.authorized|capitalize}}</td>
	                                	<td>{{user.last_login|date("h:ia m/d/Y") }}</td>
	                                	<td>
	                                		<a href="javascript:;" class="btn btn-xs btn-primary">Edit</a> &nbsp; 
	                                		{% if user.authorized == 'yes' %}
	                                			<a href="{{base_url}}/cms/users/revokeauth/{{user.id}}" class="btn btn-xs btn-danger">Revoke Auth</a>
	                                		{% elseif user.authorized == 'no' %}
	                                			<a href="{{base_url}}/cms/users/grantauth/{{user.id}}" class="btn btn-xs btn-success">Grant Auth</a> &nbsp;
	                                			<a href="javascript:;" onclick="deleteUser({{user.id}});" class="btn btn-xs btn-danger">Delete</a>
	                                		{% endif %}
	                                	</td>
	                                </tr>
	                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ include('cms/partials/footer.twig') }}