	<footer>
		<div class="container visible-md visible-lg">
			<div class="col-sm-3">
				<strong>Need Help?</strong>
				<p>Call 1-800-445-6937</p>
			</div>
			<div class="col-sm-6">
				<p class="text-center">&copy;{{ "now"|date("Y") }} Lowe’s. All rights reserved. Lowe’s and<br />the gable design are registered trademarks of LF, LLC.</p>
			</div>
			<div class="col-sm-3">
				<a href="http://www.facebook.com/lowes" target="_blank" title="Like Lowe's on Facebook" class="socialicon">
					<img src="{{asset_url}}/img/global/icon-facebook.svg" />
				</a>
				<a href="http://twitter.com/lowes" target="_blank" title="Follow Lowe's on Twitter" class="socialicon">
					<img src="{{asset_url}}/img/global/icon-twitter.svg" />
				</a>
				<a href="http://pinterest.com/follow/lowes" target="_blank" title="Repin Lowe's on Pinterest" class="socialicon">
					<img src="{{asset_url}}/img/global/icon-pinterest.svg" />
				</a>
				<a href="http://instagram.com/loweshomeimprovement" target="_blank" title="Follow Lowe's on Instagram" class="socialicon">
					<img src="{{asset_url}}/img/global/icon-instagram.svg" />
				</a>
				<a href="https://vine.co/Lowes" target="_blank" title="Follow Lowe's on Vine" class="socialicon">
					<img src="{{asset_url}}/img/global/icon-vine.svg" />
				</a>
				<a href="https://www.youtube.com/user/Lowes" target="_blank" title="Follow Lowe's on Youtube" class="socialicon">
					<img src="{{asset_url}}/img/global/icon-youtube.svg" />
				</a>
			</div>
		</div>
		<div class="container visible-xs visible-sm">
			<div class="col-sm-12">
				<p class="text-center">&copy;{{ "now"|date("Y") }} Lowe’s. All rights reserved. Lowe’s and<br />the gable design are registered trademarks of LF, LLC.</p><br /><br />
			</div>
			<div class="col-sm-12 text-center">
				<a href="http://www.facebook.com/lowes" target="_blank" title="Like Lowe's on Facebook" class="socialicon">
					<img src="{{asset_url}}/img/global/icon-facebook.svg" />
				</a>
				<a href="http://twitter.com/lowes" target="_blank" title="Follow Lowe's on Twitter" class="socialicon">
					<img src="{{asset_url}}/img/global/icon-twitter.svg" />
				</a>
				<a href="http://pinterest.com/follow/lowes" target="_blank" title="Repin Lowe's on Pinterest" class="socialicon">
					<img src="{{asset_url}}/img/global/icon-pinterest.svg" />
				</a>
				<a href="http://instagram.com/loweshomeimprovement" target="_blank" title="Follow Lowe's on Instagram" class="socialicon">
					<img src="{{asset_url}}/img/global/icon-instagram.svg" />
				</a>
				<a href="https://vine.co/Lowes" target="_blank" title="Follow Lowe's on Vine" class="socialicon">
					<img src="{{asset_url}}/img/global/icon-vine.svg" />
				</a>
				<a href="https://www.youtube.com/user/Lowes" target="_blank" title="Follow Lowe's on Youtube" class="socialicon">
					<img src="{{asset_url}}/img/global/icon-youtube.svg" />
				</a>
				<br /><br /><br /><br />
			</div>
			<div class="col-sm-12 text-center">
				<strong>Need Help?</strong>
				<p>Call 1-800-445-6937</p>
			</div>
		</div>
		<br /><br />
		<div class="container">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1">
				<ul class="nav nav-justified footer-links">
					<li>
						<a href="https://www.lowes.com/cd_Terms+and+Conditions+of+Use_360300527_" target="_blank" title="Terms &amp; Conditions">
							Terms &amp; Conditions
						</a>
					</li>
					<li>
						<a href="https://www.lowes.com/l/privacy-and-security-statement.html" target="_blank" title="Privacy Statement">
							Privacy Statement
						</a>
					</li>
					<li>
						<a href="https://www.lowes.com/l/privacy-and-security-statement.html#noticetocalifornia" target="_blank" title="Your California Privacy Rights">
							Your California Privacy Rights
						</a>
					</li>
					<li>
						<a href="https://www.lowes.com/l/privacy-and-security-statement.html#interestadvertising" target="_blank" title="Interest-Based Advertising">
							Interest-Based Advertising
						</a>
					</li>
				</ul>
			</div>
		</div>
	</footer>    
	</div><!--wrapper-->
	<script src="{{asset_url}}/js/jquery-3.1.0.min.js"></script>
	<script src="{{asset_url}}/js/bootstrap.min.js"></script>
	<script src="{{asset_url}}/js/owl.carousel.min.js" async defer></script>
	<script src="{{asset_url}}/js/parallax.min.js" async defer></script>
	<script src="{{asset_url}}/js/underscore.min.js" async defer></script>
	<script src="{{asset_url}}/js/rippleSauce.js" async defer></script>
	<script src="{{asset_url}}/js/tools.js" async defer></script>
	<script src="{{asset_url}}/js/smartspot.js" async defer></script>
	</body>
</html>
<!--
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNMMMMmmMMMMMMMMMMMMMNmNNMMMNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNNNNNmNNhmhmNhdhyNsmdhyddmhmdNNNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMNMMNmdhNhydy/so+os+//:/:://++oshhhdhdNNMMMNMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMdhdhyos+//:/:---.--.----..------:///o+ohdmNNNMMMMNMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMNmmhs/+//:-:-::::::::::::---------------://////+yshdNdNMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMNMmhs++//:/:::::::://++++++++///::----------.--::++////+yhddMmNMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMmdhss++:::::::::::/++ooooooo+++++/////:::::----....---/+//+/o+yymNMMNMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMm+ssss/:---::::::/+oooossoooo+++++///////::/:::--......--://://+/ohmmmMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMNyo//+:------:::/+osssssooo++++////////////////:::--.......--:/:/o++++shmNMNMMMMMMMMM
MMMMMMMMMMMMNmdms+:---------://oyhyyysoo++++////////////////////:::--........-:-o++++o+ssdNMMMMMMMMM
MMMMMMMMMmNNdds/:---------::/+syyyyysoo+++/////////////////////://:::--....`..--::::++:hshdNMMMMMMMM
MMMMMMMMNdMyyo:--.---..--:///oyyyyyso++//////:::::/:/::////////////:::--....`..--::--/+oyhmhNMMMMMMM
mmmmddddhhh/o-....-...--://::syyysooo+///////:::::::::::////////////:::--....``..--:/-//sodyNMMMMMMM
++++++////:-:`.`......-:/::--oyyssoo++////////:::::::::::://////://:::::--....````..-:-::/yyhdMMMMMM
/////:::---..```...`.--://---+ssssssoo++/+/////::::/::::::://////::/::::--....`````...-.-++oohdNMMMM
+//////::-..````....--:/+:-.-/ssssssys++//:///:::::/::::::://////::::::::---..``````.``.-:/yyddNNMMM
dddhhhhyso:-`......--://++: -/o+ooooso+//::+//::/:::::////://////:::::::----..`````````--.:yysyhmmmm
MMMMMMMdhyo:........-:/+o+-`:syssssoosoo+/++/o+///////////////////////:::----..````````..--+//yosyss
NNNMNNmdo+-.-`..-..-:/+ooo:.ohhmNNmmdddmhys+/osssyyysyyysoo++////://+//::-----..````````..-/oo+osyyy
hdmmddmy/-..-....-::/++oys.-yddddmmhoymNMNyo+/+oyyhhyhyooyyso++//://++//:::---...````````.-/oohhmNNN
NMMNNhmh+..--..-::///+oshs./shs/mNNh-:ymNmds+++++oysmMmh-/sso++//:///+//:::--....````` ``.-/shhmmMNN
MMMMmhmm/..:-..:/++o+syhho.+ys:+hhysoshmmdys+++++sssoyy++++++////:///+///:---....`````  `.:/syhhyys+
MMMMNNmd---.-.-::::/osyhho.+ss+oyyssyhmddo+o++++/+oo++++/////////////+/oo+-....````      `-/ooooo+/-
MMMMNNNd+:-`........sshddo.-oossosshhddd+sso++o+///////+///////////////+++-...````       `./sssooo+/
MMMNddNhy/.`````....ohmmmh``:+sosyhhhdh:/s++//+++/:::/:::/:://////::so++y+.`````       ``.//sssssso+
MMMNhhmdm+.``..`....-dmdmd.`-/osyhhddd/sssys+oo++///:::::////////-::+s+oy-`` ```       `..syddddhyso
MMMNdhmMmy-...``.`..`/ddhh-`.-::syyhdmhNNmhyyyhds+/+/::/:///////-.::o++s+```    `     `-:+hNNNmmmddd
MMMNddmNNh/-..``.`....oyyd/`.--//sooyyhdhyooyosss++/+/://///////..:////o.``     `   ``./shhdNNNmmmmm
MMMMNmdhdyy:-`.--.``.`./hds`..::+sosoosssooos+oooo++++::////:///..+++//-.`      `` .-/+odhmdmmmmmmmm
MMMMMNNmmdyos///::-....-/ss`.:-/o+oy/+yhysoooo+++++++++:////://---so+/-...`     ``-:/sdddmmmmdmmmddd
MMMMMMMMMNmmddyos+:.`..-::/.-:-//oyddmmNNNmdddhhyso+++++////://-.+///:--...`    `+sshdmmmmNNNddmmddd
MMMMMMMMMMMNNNmmdh/-.-.---:-:+-:ohhmmhhhhhyyyyysyyyyyso+///+//:-/y+/:---..` ` ``.oyhddmmmmNNNmmmmddd
MMMMMMMMMMMMMNNMMms----.---::+-/yhddhohyyyhyysoo+++/+++////+///:+o+/:-....``.`.+ohddmmNNNNNNNNNNNNNN
MMMMMMMMMMMMMMNMMN+:/:..---::/:/hho+syysssyysso+/////+++++++/::-os/::..``....:smmNMMMNNNMMMMMMMMMMNN
MMMMMMMMMMMMMMMMNm+os::-...:--/:++//ossssssooo++/////+++++//-//.sdyso-...-:ohmNNNNmdyyysssyhddmmNMNm
MMMMMMMMMMMMNNMNMNdmdss+-..-.:::::--/sysoo+++++++++++++++/:-/+/.ommhyyo:/o+yyhyyhhhhhyyssssyyyhhhhdm
MMMMMMMMMMMNNNNNNNNNNmNmhos+-so:::-.:shsoo+++/++++oo++//+:-:o+:`+NdssyyoossssssyyyyssshdddddNNNmhhyy
MMMMMMMMMMNNNNNNNNNNNNNNNNmho/:/-///+ydyysssoooooo+ooo+//:+o++//omdsshhyosysssyyyydy/sdmdhhhNNNmddhh
MMMMMMMMMMMMMMMMMMMMNmdhs++-..::+++ooshhhhhyyyyyssssoo++ooo++++oodhsyhhhhyhddmdhhsshydNNNNNdhdmNNmdd
MMMMMMMMMMMMMMMMNmhs+/::-:/.--:`::yyyhhhhhdhhyyyyysoo++ooo+++++osNhs+ydhdhydNNNhs+`.-/shssmNmddNNNNN
MMMMMMMMMMNmdhso++/:///:::-:/:- .//oddmmmdmhssosso+++oo+++++++oomMmysddyyhyhNNmy:```````../hdmmNNNMN
MMMMMMNmyo/:::////:////:::-:/:. -::.-hdddddyssooysoo+o+o++++++ohMNmysdssh+shdy:`````````````.-:+ydNM
MMMNdo/-...:--:-..-:--:-/--::/. .-::.-hdddysssh+sys+ooooo++++oyNMNNdh/``````-` ````````` ` ` `````-+
Ndo:.....`.:`..```:.`.../:--:/- ...:/.:dhhsssoysossssoooooooohMMMMMMh`      `  ```````  `   `    ```
:...`.`````:`.`  .:``.`./:`--:/..--.-/.shsooooososssosoooooohMMMMMMM+       ` ``  ```   `   `       
`.`````````:``` `-.```../: -.:/:.---.-::hs++++ooooooooooo+odMMmNMMMM.          `        `           
.`````````.:.`` .-`.``-`::`.`:::-...--/-osooo+ooooooo++ooymMMmhNMMMd        `                       
.`````````.:`.` `-`.`.:``--`---/..-...--:soooooooooooo+oyNMMNmdMMMM/        `    `    `             
``````````-:`.` `...`.-``.-`..:-...-...-.osssoooooo+ooohmmNNmhdMMMh``       `                       
``````````--``.`.`-..`.`.`..`-:-.``..-.-.+ssssosooooosyhymNmddyMMM/```              ``              
`````````.:..`````.`.````.`.`--/``....`-...---......-/osmNNMMNhNMm-.``              `               

  _______ _     _       _         _           _             _            _   
 |__   __| |   (_)     (_)       (_)         | |           | |          | |  
    | |  | |__  _ ___   _ ___     _ _   _ ___| |_    __ _  | |_ ___  ___| |_ 
    | |  | '_ \| / __| | / __|   | | | | / __| __|  / _` | | __/ _ \/ __| __|
    | |  | | | | \__ \ | \__ \   | | |_| \__ \ |_  | (_| | | ||  __/\__ \ |_ 
    |_|  |_| |_|_|___/ |_|___/   | |\__,_|___/\__|  \__,_|  \__\___||___/\__|
                                _/ |                                         
                               |__/                                          
-->