<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height" />
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../favicon.ico">
		
		<title>SmartSpot by Lowe's</title>
		
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" async defer>
		<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" async defer/>
		<link rel="stylesheet" href="{{asset_url}}/css/tools.min.css" async defer>
		<link rel="stylesheet" href="{{asset_url}}/css/smartspot.css" async defer>
		<script>
{#
		var logger = function(){var oldConsoleLog = null;var pub = {};pub.enableLogger =  function enableLogger(){if(oldConsoleLog == null)return;window['console']['log'] = oldConsoleLog;};
pub.disableLogger = function disableLogger(){oldConsoleLog = console.log;window['console']['log'] = function() {};};return pub;}();
		logger.disableLogger();
#}
	 	</script>
	</head>
	<body class="animate {{bodyclass}}">

		{{ include('partials/zip-in.twig') }}

		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="row">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						
						<a href="javascript:void;" onclick="loadCartPanel();" class="cart-button small-cart pull-right visible-xs">
							<img src="{{asset_url}}/img/global/cart-icon.svg" />
							<span id="cartCount">0</span>
						</a>
						<a class="navbar-brand" href="{{base_url}}/smartspot"><img src="{{asset_url}}/img/global/smart-logo.svg" /></a>
						
					</div>
			
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav main">
							<li><a href="{{base_url}}/smartspot" class="{% if current_url == '/smartspot' %}active {% endif %}comfort"><span>Home</span></a></li>
							<li><a href="{{base_url}}/smartspot/products" class="{% if current_url == '/smartspot/products' %}active {% endif %}comfort"><span>Products</span></a></li>
							<li><a href="{{base_url}}/smartspot/uses" class="{% if current_url == '/smartspot/uses' %}active {% endif %}comfort"><span>Uses</span></a></li>
							<li><a href="{{base_url}}/smartspot/smarthouse" class="{% if current_url == '/smartspot/smarthouse' %}active {% endif %}comfort"><span>SmartHouse</span></a></li>
						</ul>
						
						<ul class="nav navbar-nav navbar-right">
							<li class="hidden-xs hidden-sm">
								<a href="javascript:void;" id="cartbutton" class="cart-button">
									<img src="{{asset_url}}/img/global/cart-icon.svg" />
									<span id="cartCount">0</span>
								</a>
							</li>
							<li class="hidden-xs hidden-sm">
								<a href="{{base_url}}/b8ta" class="powered-by">
									<img src="{{asset_url}}/img/global/powered-by.svg" />
								</a>
							</li>
						</ul>
						
						<div class="store-zipin">
							<div class="zip-in">
								<a href="#" class="zip-in-link hint--bottom" aria-label="Find your closest Lowe's store" data-toggle="modal" data-target="#store_chooser">
									<img src="{{asset_url}}/img/global/icon-lowes-brand.svg" /> 
									<span id="storeLocation"></span> 
									<span id="storeOpenTill" class="open-until">Set store <i class="ion-chevron-down"></i></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
		
		<div class="cart-blackout"></div>
		<div class="cartpane">
			<div class="cart-head">
				<h2><img src="{{asset_url}}/img/global/cart-icon-blue.svg" /><span id="icCartCount">2</span> items <span class="pull-right" id="icCartTotal">$358.00</span></h2>
			</div>
			<div class="cart-wrapper">
				<ul class="products-in-cart" id="productsInCart">
					{% for productkey,product in cart %}
						<li>
							<div class="product-in-cart">
								<div class="col-xs-6">
									<div class="in-cart-product-image">
										<img src="{{product['product_picture']}}" class="img-responsive" />
									</div>
								</div>
								<div class="col-xs-6">
									<p class="title">{{product['product_title']}}</p>
									<p class="price">${{product['single_price']|number_format(2, '.', ',')}}</p>
									<p class="quantity">
										{% if product['quantity'] != 1 %}
											<a href="javascript:;" onclick="changeCart( {{product['product_id']}}, {{product['single_price']|number_format(2, '.', ',')}}, 'subtract', '{{product['product_picture']}}', '{{product['product_title']}}' )" class="decrement">
												<i class="ion-minus-round"></i>
											</a>
										{% endif %}
										<span class="current-product-count" id="currentProductCount_'+product_id+'">{{product['quantity']}}</span>
										<a href="javascript:;" onclick="changeCart( {{product['product_id']}}, {{product['single_price']|number_format(2, '.', ',')}}, 'add', '{{product['product_picture']}}', '{{product['product_title']}}' )" class="increment">
											<i class="ion-plus-round"></i>
										</a>
										{% if product['quantity'] == 1 %}
											<a href="javascript:;" class="remove-product" id="removeproduct_{{product['product_id']}}">Remove</a>
										{% endif %}
									</p>
								</div>
							</div>
							<hr class="cart-separator" />
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="cart-footer">
				<div class="cart-checkout">
					<a href="javascript:;" class="btn btn-comfort btn-filled btn-lg btn-block">Checkout</a>
				</div>
				<div class="cart-promo" style="background-image: linear-gradient(to top right, rgba(39,57,109,0.8), rgba(206,101,101, 0.8)), url(http://lowesdiy.com/assets/img/cart-promo.jpg);">
					<h1 class="promo-largetext text-center">$30 OFF</h1>
					<h3 class="promo-smalltext text-center">All Arlo Camera Systems + Add-ons</h3>
				</div>
			</div>
		</div>
		
		<div class="wrapper">
