<div class="modal fade quickview-modal" id="quickview_product" tabindex="-1" role="dialog" aria-labelledby="quickview">
	<input type="hidden" id="quickview_productid" value="" />
	<input type="hidden" id="quickview_price_val" value="" />
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="quickview-loading text-center"><img src="{{asset_url}}/img/loading.gif" /></div>
			<div class="quickview-preload-content">
				<div class="modal-header">
					<div class="row">
						<div class="col-xs-6">
							<h2 id="quickview_title"></h2>
						</div>
						<div class="col-xs-6">
							<p class="pull-right quickview-addtocart">
								<a href="javascript:;" onclick="changeCart( 'dynamic', {{product['network_price']|number_format(2, '.', ',')}}, 'add', '{{product['image_lg']}}', '{{product['product_title']}}' )" class="btn btn-comfort comfort-bg">add to cart</a>
							</p>
							<p class="pull-right quickview-price" id="quickview_price"></p>
						</div>
					</div>		
				</div>
				<div class="quick-view-container">
					<div class="row">
						<div class="col-sm-6 col-md-6">
							<div class="quickview-images text-center">
								<div class="quickview-mainimage" id="quickview_mainimage"></div>
								
								<div class="quickview-thumbnails" id="quickview_thumbnails"></div>
							</div>
						</div>
						<div class="col-sm-6 col-md-6">
							<div class="product-information">
								<div id="quickview_description" class="quickview-description"><p></p></div>
								<div id="quickview_rating" class="quickview-rating"></div>
								<div id="quickview_itemnum" class="quickview-prodinfo"><p></p></div>
								<div id="quickview_modelnum" class="quickview-prodinfo"><p></p></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>