<div class="modal fade zipin-modal" id="store_chooser" tabindex="-1" role="dialog" aria-labelledby="quickview">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="row">
					<div class="col-xs-12">
						<h2>Find your closest Lowe's store</h2>
					</div>
				</div>		
			</div>
			<div class="zipin-container">
				<div class="row">
					<div class="col-xs-6 col-xs-offset-3">
						<div class="input-group">
							<input type="number" class="form-control" id="locale_query" maxlength="5" placeholder="Enter your zip code" />
							<a class="input-group-addon btn comfort-bg btn-comfort" id="find-store" onclick="ZipIn();">find stores</a>
						</div>
					</div>
				</div>
				<section class="module">
					<div class="row">
						<div class="col-xs-10 col-xs-offset-1">
							<ul id="zipin_store_list">
								<li>You have not set your default store, enter your zip code above.</li>
							</ul>
						</div>
					</div>
					<div class="row clearLocalStorage" style="display:none;">
						<div class="col-xs-12 text-center">
						<br /><br />
							<a href="#" class="btn btn-danger" data-dismiss="modal" onclick="clearLocalStorage()">Clear my preferred store</a>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>